{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>User Outfits </h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'frontend:index' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'wardrobe:user_outfit_list' %}">User Outfits</a></li>
                        <li class="breadcrumb-item active">User Outfit Details</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-secondary" href="{% url 'wardrobe:user_outfit_list' %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card my-4">
                    <div class="card-body">
                        <div class="row">
                        <div class=" col-md-6  productdetails">
                            <ul class="product-bar mb-2">
                                <li>
                                    <h4>Id </h4>
                                    <h6>{{outfit.id}}</h6>
                                </li>
                                <li>
                                    <h4> Title </h4>
                                    <h6>{{outfit.title|default:"-"}}</h6>
                                </li>
                                {% if outfit.color %}
                                <li>
                                    <h4> Colour </h4>
                                    <h6>{{outfit.color|default:"-"}}</h6>
                                </li>
                                {% endif %}
                                <li>
                                    <h4> Occasion </h4>
                                    <h6><a href="{% url 'wardrobe:occasion' %}">{{outfit.occasion.title|default:'-'}}</a></h6>
                                </li>
                                <li>
                                    <h4> Weather Type</h4>
                                    <h6>
                                        {% if outfit.weather_type == 1 %}
                                            <span class="badge bg-success">SUMMER</span>
                                        {% elif outfit.weather_type == 2 %}
                                            <span class="badge bg-warning">WINTER</span>
                                        {% elif outfit.weather_type == 3 %}
                                            <span class="badge bg-primary">RAINY</span>
                                        {% elif outfit.weather_type == 4 %}
                                            <span class="badge bg-secondary">SPRING</span>
                                        {% elif outfit.weather_type == 5 %}
                                            <span class="badge bg-secondary">ALL SEASON</span>
                                        {% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Created By</h4>
                                    <h6>{% if outfit.created_by %}
                                        <div class="d-flex align-items-center display-images">
                                            {% if outfit.created_by.profile_pic %}
                                                <a href="{{outfit.created_by.profile_pic.url}}" data-fancybox>
                                                    <img src="{{outfit.created_by.profile_pic.url}}" class="rounded-lg me-2" width="50" alt="">
                                                </a>
                                            {% else %}
                                                <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                    <img src="{% static 'admin-assets/images/dp.png' %}"
                                                    class="rounded-lg me-2" width="50" alt="">
                                                </a>
                                            {% endif %}
                                            <span><a class="w-100" href="{% url 'users:view_user' outfit.created_by.id %}">{{outfit.created_by.full_name|capfirst}}</a></span>
                                        </div>
                                        {% else %}-{% endif %}
                                    </h6>
                                </li>
                                {% if outfit.items.all %}
                                <li>
                                    <h4> Items in Outfit ({{outfit.items.count}})</h4>
                                    <h6>
                                        <div class="d-flex align-items-center display-images" style="overflow-x:scroll;">
                                            {% for img in outfit.items.all %}
                                                <a href="{{img.image.url}}" data-fancybox>
                                                    <img src="{{img.image.url}}" class="rounded-lg me-2" width="24" alt="">
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </h6>
                                </li>
                                {% endif %}
                                {% if outfit.notes %}
                                <li>
                                    <h4> Prompt </h4>
                                    <h6>{{outfit.notes|safe}}</h6>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class=" col-md-6 productdetails">
                            <h5><b>Outfit Image</b></h5>
                            <ul class="product-bar outfit-custom">
                                {% if outfit.image %}
                                    <a href="{{outfit.image.url}}" data-fancybox>
                                        <img src="{{outfit.image.url}}" class="rounded-lg me-2"  alt="">
                                    </a>
                                {% else %}
                                    <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                        <img src="{% static 'admin-assets/images/dp.png' %}"
                                        class="rounded-lg me-2" alt="">
                                    </a>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabs -->
            <div class="col-lg-12 col-sm-12 mt-5">
                <div class="row  mt-4">
                    <div class="bs-example action-tabs">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#sectionA" class="nav-link nav-link-items active nav-link1" data-toggle="tab">Outfit Feedback</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="sectionA" class="tab-pane fade show active ">
                                <section id="tab" class="tab-panel">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class=" dataview">
                                                <div class="table-responsive">
                                                    <table class="table datatable">
                                                        <thead>
                                                            <tr>
                                                                <th><strong>User Name</strong></th>
                                                                <th><strong>Rating</strong></th>
                                                                <th><strong>Comment</strong></th>
                                                                <th><strong>Created On </strong></th>
                                                                <th><strong>Actions </strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if ratings %}
                                                                {% for rating in ratings %}
                                                                <tr>
                                                                    <td>{{rating.user.full_name|default:'-'}}</td>
                                                                    <td>{{rating.rating|default:'-'}}</td>
                                                                    <td>{{rating.comment|default:'-'}}</td>
                                                                    <td>
                                                                        <script>
                                                                            var date = ConvertDateTime("{{ rating.created_on|date:'Y-m-d' }}", "{{ rating.created_on|time:'H:i' }}");
                                                                            document.write(date);
                                                                        </script>
                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabs end -->
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
