{% include 'admin-includes/header.html' %}
{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Testimonials</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'frontend:index' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'static_pages:testimonials' %}" class="white-text">Testimonials</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'static_pages:view_testimonial' testimonial.id %}" class="white-text">Testimonial Information</a></li>
                        <li class="breadcrumb-item active">Update Testimonial</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-secondary" href="{% url 'static_pages:view_testimonial' testimonial.id %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form onsubmit="Loader(this.id)" id="edit-testimonial"  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Client Name</label>
                                <input type="text" placeholder="Enter Client Name" name="client_name" value="{{testimonial.client_name}}" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Client Location</label>
                                <input type="text" placeholder="Enter Client Location" value="{{testimonial.client_location}}" name="client_location" class="form-control" maxlength="70">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group ">
                                <label class="form-label">Client Image</label>
                                <input type="file" name="client_image" id="client_image" accept="image/*" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Description</label>
                                <textarea  placeholder="Enter Description" name="content" id="content" class="form-control">{{testimonial.description}}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-primary me-2">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'admin-includes/footer.html' %}
<script src="{% static 'admin-assets/js/customized-js/add-testimonial.js' %}"></script>