{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Stripe Keys Information </h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'credentials:stripe_keys' %}" class="white-text">Stripe Keys</a></li>
                        <li class="breadcrumb-item active">View Stripe Keys</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a title='Edit' data-bs-toggle="modal" onclick="GetValue(`{{key.id}}`,`{{key.test_publishkey}}`,`{{key.test_secretkey}}`)" data-bs-target="#edit-keys" class="btn btn-info shadow btn-xs sharp me-1"><i class="fa fa-edit"></i></a>
                <a title="Delete" style="margin-right:5px" href="{% url 'credentials:delete_stripe_keys' key.id %}" message="Are you sure to delete this key?" class="btn btn-danger shadow btn-xs sharp action_confirm"><i class="fa fa-trash"></i></a>
                <a class="btn btn-secondary" href="{% url 'credentials:stripe_keys' %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">

                                <li>
                                    <h4>Publish Key </h4>
                                    <h6>{% if key.test_publishkey %}{{key.test_publishkey}}{% else %}-{% endif %}</h6>
                                </li>
                                <li>
                                    <h4>Secret Key  </h4>
                                    <h6>{% if key.test_secretkey %}{{key.test_secretkey}}{% else %}-{% endif %}</h6>
                                </li>
                                <li>
                                    <h4>Status </h4>
                                    <h6>
                                        {% if key.active %}
                                            <span style='cursor:pointer' href="{% url 'credentials:change_stripe_keys' key.id %}" message="Are you sure you want to deactivate this page?" action='DeActivate' class="badge bg-success active_deactive">ACTIVE</span>
                                        {% else %}
                                            <span style='cursor:pointer' href="{% url 'credentials:change_stripe_keys' key.id %}" message="Are you sure you want to activate this page?" action='Activate' class="badge bg-warning active_deactive">INACTIVE</span>
                                        {% endif %}
                                    </h6>
                                </li>
                               
                                <li>
                                    <h4>Created On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ key.created_on|date:'Y-m-d' }}", "{{ key.created_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Updated On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ key.updated_on|date:'Y-m-d' }}", "{{ key.updated_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-list border-0 d-flex justify-content-end align-items-center mt-4">
                            {% if key.active %}
                                <a href="{% url 'credentials:change_stripe_keys' key.id %}" action="DeActivate" message="Are you sure you want to deactivate?" class="btn btn-danger active_deactive">DEACTIVATE</a>
                            {% else %}
                                <a href="{% url 'credentials:change_stripe_keys' key.id %}" action="Activate" message="Are you sure you want to activate?" class="btn btn-success active_deactive">ACTIVATE</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Audit Log History -->
		{% include "admin-includes/activity-logs.html" with activity_title="Stripe Keys" %}
        <!-- End Audit Log History -->
    </div>
</div>
<div class="modal fade" id="edit-keys"  data-bs-backdrop='static' data-bs-keyboard='false' tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Stripe Keys</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form onsubmit="Loader(this.id)" id="edit-stripe-keys" action="{% url 'credentials:edit_stripe_keys' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <input type='hidden' name='key_id' id="key_id" value="1">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Publish Key</label>
                                    <input type="text" placeholder="Publish Key"  value="{{key.publish_key}}" name="publish_key" id='publish_key' class="form-control" maxlength='150'> 
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Secret Key</label>
                                    <input type="text" placeholder="Secret Key" value="{{key.secret_key}}" id='secret_key' name="secret_key" class="form-control" maxlength='150'>
                                </div>
                            </div>
                            <div class="col-lg-12 text-end">
                                <button type="submit" id='sub_btn' class="btn btn-theme me-2">Save</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script type="text/javascript">
    $("#edit-stripe-keys").validate({
        ignore: [],
        rules: {
            publish_key: {
                required: true,
                },
            secret_key: {
                required: true,
                },
            },
        messages: {
            publish_key: {
                required: "Please Enter Publish Key",
                },
            secret_key: {
                required: "Please Enter Secret Key",
                },
        },
    }); 
</script>
<script>
    function GetValue(id,publish_key,secret_key){
    $('#key_id').val(id)
    $('#publish_key').val(publish_key)
    $('#secret_key').val(secret_key)
}
</script>