{% include "admin-includes/header.html" %}
{% load static %}
{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Trip Activity Flags</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'wardrobe:activity_flags' %}">Trip Activity Flags</a></li>
					</ol>
				</nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a title="Add" href="{% url 'wardrobe:sync_default_activity_flag' %}" id="sync-btn" class="btn btn-theme"><i class="fa fa-sync"></i>Sync Default</a>
				<a title="Add" class="btn btn-theme" data-bs-toggle="modal" data-bs-target="#add-activity-flag"><i class="fas fa-plus ms-1"></i> Add</a>
			</div>
        </div>
        <div class="card">
            <div class="card-body">
				<div class='d-flex flex-wrap justify-content-between'>
					<!-- showing_objects-->
                    {% include "admin-includes/showing_objects.html" with listing_objects=activity_flags%}
                    <!-- showing_objects end-->
				</div>
                <div class="dataview">
                    <form onsubmit="Loader()" action="{% url 'wardrobe:activity_flags' %}" method="GET">
						<div class="table-responsive">
							<table class="table datatable">
								<thead>
									<tr>
                                        <th><strong>Name</strong></th>
										<th><strong>Description</strong></th>
										<th><strong>Created On</strong></th>
										<th><strong>Actions </strong></th>
									</tr>
								</thead>
								<thead>
									<tr class="search-row">
                                        <td><input type="text" value="{{search_filters.name}}" class="form-control" name="name" maxlength="20"></td>
										<td><input type="text" value="{{search_filters.description}}" class="form-control" name="description" maxlength="20"></td>
										<td><input type="date" value="{{search_filters.created_on}}" class="position-relative form-control" onchange="this.form.submit()" name="created_on"></td>
										<td><button type="submit" class="btn btn-primary ms-2">Search</button></td>
									</tr>
								</thead>
								<tbody>
									{% if activity_flags %}
										{% for activity in activity_flags %}
										<tr>
                                            <td> {{activity.name|capfirst|default:"-"}}</td>
											<td class="wrap-text">{{activity.description|default:"-"|safe}}</td>
											<td>
												<script>
													var date = ConvertDateTime("{{ activity.created_on|date:'Y-m-d' }}", "{{ activity.created_on|time:'H:i' }}");
													document.write(date);
												</script>
											</td>
											<td>
												<div class="d-flex">
													<a title="Edit" data-bs-toggle="modal" onclick="GetValue('{{activity.id}}','{{activity.name}}','{{activity.description}}')"  data-bs-target="#edit-activity-flag" class="btn btn-info shadow btn-xs sharp me-2">
														<i class="fa fa-edit"></i>
													</a>
                                                    <a title="Delete" href="{% url 'wardrobe:delete_activity_flag' activity.id %}"
														id="delete-btn" class="btn btn-danger shadow btn-xs sharp">
														<i class="fa fa-trash"></i>
													</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</form>
					<!-- pagination-->
					{% include "admin-includes/pagination.html" with listing_objects=activity_flags %}
					<!-- pagination end-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-activity-flag" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Activity Flag</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form onsubmit="Loader(this.id)" id="add-activity-flags" action="{% url 'wardrobe:activity_flags' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Name</label>
                                    <input type="text" placeholder="Name" name="name" id="name" class="form-control" maxlength="100">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Description</label>
                                    <textarea type="text" name="description" id="description" class="form-control" maxlength="200"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text-end">
                                <button type="submit" class="btn btn-primary me-2">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-activity-flag" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Activity Flag</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form onsubmit="Loader(this.id)" id="edit-activity-flags" action="{% url 'wardrobe:activity_flags' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="activity_id" id="activity_id" value="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Name</label>
                                    <input type="text" placeholder="Name" name="name" id="activity_name" class="form-control" maxlength="100">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Description</label>
                                    <textarea type="text" name="description" id="activity_description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text-end">
                                <button type="submit" class="btn btn-primary me-2">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script src="{% static 'admin-assets/js/validations/activity.js' %}" ></script>
<script>
	function GetValue(id, name,description){
		$('#activity_id').val(id);
		$('#activity_name').val(name);
		$('#activity_description').val(description);
	}
</script>

<style>
  .wrap-text {
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

</style>