{% include "admin-includes/header.html" %}
{% load static %}
{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Trip Activity Flags</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'wardrobe:activity_flags' %}">Trip Activity Flags</a></li>
					</ol>
				</nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a title="Add" href="{% url 'wardrobe:sync_default_activity_flag' %}" id="sync-btn" class="btn btn-theme"><i class="fa fa-sync"></i>Sync Default</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
				<div class='d-flex flex-wrap justify-content-between'>
					<!-- showing_objects-->
                    {% include "admin-includes/showing_objects.html" with listing_objects=activity_flags%}
                    <!-- showing_objects end-->
				</div>
                <div class="dataview">
                    <form onsubmit="Loader()" action="{% url 'wardrobe:activity_flags' %}" method="GET">
						<div class="table-responsive">
							<table class="table datatable">
								<thead>
									<tr>
                                        <th><strong>Name</strong></th>
										<th><strong>Description</strong></th>
										<th><strong>Created On</strong></th>
										<th><strong>Actions </strong></th>
									</tr>
								</thead>
								<thead>
									<tr class="search-row">
                                        <td><input type="text" value="{{search_filters.name}}" class="form-control" name="name" maxlength="20"></td>
										<td><input type="text" value="{{search_filters.description}}" class="form-control" name="description" maxlength="20"></td>
										<td><input type="date" value="{{search_filters.created_on}}" class="position-relative form-control" onchange="this.form.submit()" name="created_on"></td>
										<td><button type="submit" class="btn btn-primary ms-2">Search</button></td>
									</tr>
								</thead>
								<tbody>
									{% if activity_flags %}
										{% for activity in activity_flags %}
										<tr>
                                            <td> {{activity.name|default:"-"}}</td>
											<td> {{activity.description|safe|default:"-"}}</td>
											<td>
												<script>
													var date = ConvertDateTime("{{ activity.created_on|date:'Y-m-d' }}", "{{ activity.created_on|time:'H:i' }}");
													document.write(date);
												</script>
											</td>
											<td>
												<div class="d-flex">
                                                    <a title="Delete" href="{% url 'wardrobe:delete_activity_flag' activity.id %}"
														id="delete-btn" class="btn btn-danger shadow btn-xs sharp">
														<i class="fa fa-trash"></i>
													</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</form>
					<!-- pagination-->
					{% include "admin-includes/pagination.html" with listing_objects=activity_flags %}
					<!-- pagination end-->
                </div>
            </div>
        </div>
    </div>
</div>

{% include "admin-includes/footer.html" %}
