{% include "admin-includes/header.html" %}
{% load static %}
{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Body Types</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'wardrobe:body_type_list' %}">Body Types</a></li>
					</ol>
				</nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a title="Sync" href="{% url 'wardrobe:sync_default_body_type' %}" id="sync-btn" class="btn btn-theme"><i class="fa fa-sync"></i>Sync Default</a>
                <a title="Add" class="btn btn-theme" data-bs-toggle="modal" data-bs-target="#add-body-type"><i class="fas fa-plus ms-1"></i> Add</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
				<div class='d-flex flex-wrap justify-content-between'>
					<!-- showing_objects-->
                    {% include "admin-includes/showing_objects.html" with listing_objects=body_types %}
                    <!-- showing_objects end-->
				</div>
                <div class="dataview">
                    <form onsubmit="Loader()" action="{% url 'wardrobe:body_type_list' %}" method="GET">
						<div class="table-responsive">
							<table class="table datatable">
								<thead>
									<tr>
                                        <th><strong>ID</strong></th>
                                        <th><strong>Title</strong></th>
                                        <th><strong>Icon</strong></th>
                                        <th><strong>Description</strong></th>
										<th><strong>Created On</strong></th>
                                        <th><strong>Actions</strong></th>
									</tr>
								</thead>
								<thead>
									<tr class="search-row">
                                        <td><input disabled type="text" value="{{request.GET.id}}" class="form-control" name="id" maxlength="20"></td>
                                        <td><input type="text" value="{{request.GET.title}}" class="form-control" name="title" maxlength="20"></td>
                                        <td><input disabled type="text" value="{{request.GET.image}}" class="form-control" name="image" maxlength="20"></td>
                                        <td><input type="text" value="{{request.GET.description}}" class="form-control" name="description" maxlength="20"></td>
										<td><input type="date" value="{{request.GET.created_on}}" class="position-relative form-control" onchange="this.form.submit()" name="created_on"></td>
										<td><button type="submit" class="btn btn-primary ms-2">Search</button></td>
									</tr>
								</thead>
								<tbody>
									{% if body_types %}
										{% for type in body_types %}
										<tr>
                                            <td> {{type.id|default:"-"}} </td>
                                            <td> {{type.title|default:"-"}} </td>
                                            <td> 
                                                <div class="d-flex align-items-center display-images">
                                                {% if type.icon %}
                                                    <a href="{{type.icon.url}}" data-fancybox>
                                                        <img src="{{type.icon.url}}" class="rounded-lg me-2" width="50" alt="">
                                                    </a>
                                                {% else %}
                                                    <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                        <img src="{% static 'admin-assets/images/dp.png' %}"
                                                        class="rounded-lg me-2" width="50" alt="">
                                                    </a>
                                                {% endif %}
                                                </div>
                                            </td>
                                            <td> {{type.description|default:"-"}} </td>
											<td>
												<script>
													var date = ConvertDateTime("{{ type.created_on|date:'Y-m-d' }}", "{{ type.created_on|time:'H:i' }}");
													document.write(date);
												</script>
											</td>
											<td>
												<div class="d-flex">
													<a title="Edit" data-bs-toggle="modal" onclick="GetValue('{{type.id}}','{{type.title}}','{{type.icon}}','{{type.description}}')"  data-bs-target="#edit-body-type" class="btn btn-info shadow btn-xs sharp me-1">
														<i class="fa fa-edit"></i>
													</a>
                                                    <a title="Delete" href="{% url 'wardrobe:delete_body_type' type.id %}" id="delete-btn" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
												</div>
											</td>
										</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</form>
					<!-- pagination-->
					{% include "admin-includes/pagination.html" with listing_objects=body_types %}
					<!-- pagination end-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-body-type" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Body Type</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form onsubmit="Loader(this.id)" id="add-body-types" action="{% url 'wardrobe:body_type_list' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Title</label>
                                    <input type="text" placeholder="Title" name="title" id="title" class="form-control" maxlength="100">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Body Type Icon</label>
                                    <input type="file" name="icon" id="icon" accept="image/*" class="form-control">
                                </div>
                            </div>
							<div class="col-lg-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Description</label>
                                    <textarea type="text" placeholder="Description" name="description" id="description" class="form-control" maxlength="100" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text-end">
                                <button type="submit" class="btn btn-primary me-2">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-body-type" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Body Type</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form onsubmit="Loader(this.id)" id="edit-body-types" action="{% url 'wardrobe:body_type_list' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="body_type_id" id="body_type_id" value="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Title</label>
                                    <input type="text" name="title" id="body_type_title" class="form-control" maxlength="100" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Body Type Icon</label>
                                    <input type="file" name="icon" id="body_type_icon" accept="image/*" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group required-field">
                                    <label class="form-label">Description</label>
                                    <textarea type="text" placeholder="Description" name="description" id="body_type_description" class="form-control" maxlength="100" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text-end">
                                <button type="submit" class="btn btn-primary me-2">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script>
    function GetValue(id, title,icon,description){
        $('#body_type_id').val(id);
        $('#body_type_title').val(title);
        $('#body_type_icon').val(icon);
        $('#body_type_description').val(description);
    }
</script>
<script src="{% static 'admin-assets/js/validations/body-type.js' %}"></script>