{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Help & Support</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'frontend:index' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="{% url 'contact_us:help_and_support' %}" class="white-text">Help & Support</a></li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#website-contact" ><i class="fas fa-pencil me-1"></i> Update </a>
                <a class="btn btn-secondary" href="{% url 'frontend:index' %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="productdetails">
                    <ul class="product-bar">
                        <li>
                            <h4>Mobile Number</h4>
                            <h6>{% if contact.country_code and contact.mobile_no %}
                                {{ contact.country_code }} {{ contact.mobile_no }}
                                {% else %}-
                                {% endif %}
                            </h6>
                        </li>
                        <li>
                            <h4>Email </h4>
                            <h6>{% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</h6>
                        </li>
                        <li>
                            <h4>Address </h4>
                            <h6>{% if contact.address %}{{ contact.address }}{% else %}-{% endif %}</h6>
                        </li>
                        <li>
                            <h4>Address Latitude</h4>
                            <h6>{% if contact.latitude %}{{ contact.latitude }}{% else %}-{% endif %}</h6>
                        </li>
                        <li>
                            <h4>Address Longitude</h4>
                            <h6>{% if contact.longitude %}{{ contact.longitude }}{% else %}-{% endif %}</h6>
                        </li>
                        {% comment %} <li>
                            <h4>Website </h4>
                            <h6>{% if contact.website %} <a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a> {% else %}-{% endif %}</h6>
                        </li> {% endcomment %}
                        <li>
                            <h4>Updated On </h4>
                            <h6>
                                {% if contact.updated_on %}
                                <script>
                                    var date = ConvertDateTime("{{ contact.updated_on|date:'Y-m-d' }}", "{{ contact.updated_on|time:'H:i' }}");
                                    document.write(date);
                                </script>
                                {% else %}- {% endif %}
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Audit Log History -->
		{% include "admin-includes/activity-logs.html" with activity_title="Help & Support" %}
        <!-- End Audit Log History -->
    </div>
</div>
<div class="modal fade" id="website-contact"  data-bs-backdrop='static' data-bs-keyboard='false' tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Help And Supports Information</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form id="edit_website_contact" onsubmit="Loader(this.id)" action="{% url 'contact_us:help_and_support' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group mb-3 col-md-12 required-field">
                                <label class="form-label">Mobile Number</label>
                                <input id="country_code" type="hidden" value="{{contact.country_code}}" name="country_code" class="form-control" maxlength="20" readonly>
                                <input type="hidden" value="{{contact.country_iso_code}}"  name="country_iso_code" id="country_iso_code" class="form-control"  maxlength="10">
                                <input type="text" onkeypress="return /[0-9]/i.test(event.key)" id="mobile_no" placeholder="Enter Mobile Number" value="{% if contact.mobile_no %}{{contact.mobile_no}}{% endif %}" name="mobile_no" class="form-control" maxlength="20">
                            </div>
                            <div class="form-group mb-3 col-md-12 required-field">
                                <label class="form-label">Email Address </label>
                                <input type="text" value="{% if contact.email %}{{contact.email}}{% endif %}" placeholder="Enter Email Address" name="email" class="form-control" maxlength="50">
                            </div>
                            <div class="form-group mb-3 col-md-12 required-field">
                                <label class="form-label">Address</label>
                                <input type="text" value="{% if contact.address %}{{contact.address}}{% endif %}" placeholder="Enter Address" name="address" class="form-control" maxlength="200">
                            </div>
                            <div class="form-group mb-3 col-md-6 ">
                                <label class="form-label">Address Latitude</label>
                                <input type="text" onkeypress="return /[0-9\.]/i.test(event.key)" value="{% if contact.latitude %}{{contact.latitude}}{% endif %}" placeholder="Enter Latitude" name="latitude" class="form-control" maxlength="200">
                            </div>
                            <div class="form-group mb-3 col-md-6 ">
                                <label class="form-label">Address Longitude</label>
                                <input type="text" onkeypress="return /[0-9\.]/i.test(event.key)" value="{% if contact.longitude %}{{contact.longitude}}{% endif %}" placeholder="Enter Longitude" name="longitude" class="form-control" maxlength="200">
                            </div>
                            {% comment %} <div class="form-group mb-3 col-md-12 required-field">
                                <label class="form-label">Website Link</label>
                                <input type="text"  value="{% if contact.website %}{{contact.website}}{% endif %}" placeholder="Enter Website Link" name="website" class="form-control" maxlength="250">
                            </div>
                             {% endcomment %}
                            <div class="text-end col-md-12">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script src="{% static 'admin-assets/js/validations/help-support.js' %}" ></script>
<script>
    // For country code picker
    $("#mobile_no").intlTelInput({
        initialCountry: "{% if contact.country_iso_code %}{{contact.country_iso_code}}{% else %}auto{% endif %}",
        separateDialCode: true,
        geoIpLookup: function(callback) {
            fetch("https://ipapi.co/json")
              .then(function(res) { return res.json(); })
              .then(function(data) { callback(data.country_code); 
                $('#country_code').val(data.country_code)
                $('#country_iso_code').val(data.country_calling_code)
            }).catch(function() { callback("in"); 
              $('#country_code').val('in')
              $('#country_iso_code').val('+91')
            });
            
          }
    }).on('countrychange', function (e, countryData) {
        $('#country_code').val($('.iti__selected-dial-code').text())
        $('#country_iso_code').val($("#mobile_no").intlTelInput("getSelectedCountryData").iso2)
    });
</script>