{% include "admin-includes/header.html" %}{% load static %}{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Customer Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'users:users_list' %}">Customers </a> </li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-primary me-2" href="{% url 'logger:send_custom_email' user.id %}" ><i class="fas fa-mail-bulk me-1"></i> Send Email</a>
                <a class="btn btn-primary me-2" href="{% url 'accounts:notifications_list' user.id %}" ><i class="fas fa-bell me-1"></i> Notifications</a>
                <a class="btn btn-secondary" href="{% url 'users:users_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="card product-profile-wrapper">
                    <div class="product-detail-wrapper">
                        <div class="profile-imgbox">
                            {% if user.profile_pic %}
                            <a class="product-img" href="{{ user.profile_pic.url }}" data-fancybox="gallery">
                                <img style="height: auto;" src="{{ user.profile_pic.url }}" alt="image">
                            </a>
                            {% else %}
                            <a class="product-img" href="{% static 'admin-assets/images/dp.png' %}" data-fancybox="gallery">
                                <img style="height: auto;" src="{% static 'admin-assets/images/dp.png' %}" alt="image">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 productdetails">
                                <h5 class=""><b>Customer Information</b></h5>
                                <ul class="product-bar mb-2">
                                    <li>
                                        <h4>User Id </h4>
                                        <h6>{% if user.id %}{{user.id}}{% else %}-{% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Username</h4>
                                        <h6>{% if user.username %}{{user.username}}{% else %} - {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Full Name </h4>
                                        <h6>{% if user.full_name %}{{user.full_name|capfirst}}{% else %} - {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>DOB</h4>
                                        <h6>{% if user.dob %}{{user.dob}}{% else %} - {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Mobile Number </h4>
                                        <h6>{% if user.mobile_no %}{% if user.country_code %}{{user.country_code}} {% endif %}{{user.mobile_no}}{% else %} - {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Email </h4>
                                        <h6>{% if user.email %}{{user.email}}{% else %} - {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Gender</h4>
                                        <h6>
                                            {% if user.gender == 1 %}
                                            <span class="badge bg-secondary">MALE</span>
                                            {% elif user.gender == 2 %}
                                            <span class="badge bg-secondary">FEMALE</span>
                                            {% elif user.gender == 3 %}
                                            <span class="badge bg-secondary">OTHER</span>
                                            {% else %}
                                            -
                                            {% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Role</h4>
                                        <h6>
                                            {% if user.role_id == 1 %}
                                            <span class="badge bg-primary">ADMIN</span>
                                            {% elif user.role_id == 2 %}
                                            <span class="badge bg-primary">CUSTOMER</span>
                                            {% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Status</h4>
                                        <h6>
                                            {% if user.status == 1 %}
                                            <span class="badge bg-success">ACTIVE</span>
                                            {% elif user.status == 2 %}
                                            <span class="badge bg-warning">INACTIVE</span>
                                            {% elif user.status == 3 %}
                                            <span class="badge bg-danger">DELETED</span>
                                            {% endif %}
                                        </h6>
                                    </li> 
                                    <li>
                                        <h4>Body Type </h4>
                                        <h6>{{user.body_type.title|default:"-"}}</h6>
                                    </li>
                                    <li>
                                        <h4>Skin Tone </h4>
                                        <h6>{{user.skin_tone.title|default:"-"}}</h6>
                                    </li>
                                     <li>
                                        <h4>Hair Color </h4>
                                        <h6>{{user.hair_color.title|default:"-"}}</h6>
                                    </li>
                                    <li>
                                        <h4>Height </h4>
                                        <h6>{% if user.hieght_cm %}{{user.hieght_cm}} cm {% else %} - {% endif %}</h6>
                                    </li>
                                    {% if user.status == 3 %}
                                    <li>
                                        <h4>Account Delete Reason </h4>
                                        <h6>
                                            {% if user.account_delete_reason %}{{user.account_delete_reason}} {% else %} - {% endif %}
                                        </h6>
                                    </li> 
                                    {% endif %}
                                    
                                    <li>
                                        <h4>Created On </h4>
                                        <h6>
                                            <script>
                                                var date = ConvertDateTime("{{ user.created_on|date:'Y-m-d' }}", "{{ user.created_on|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 productdetails">
                                
                                <h5><b>Login Information</b></h5>
                                <ul class="product-bar mb-2">
                                    <li>
                                        <h4>Last Login </h4>
                                        <h6>
                                            {% if user.last_login %}
                                            <script>
                                                var date = ConvertDateTime("{{ user.last_login|date:'Y-m-d' }}", "{{ user.last_login|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                            {% else %}-{% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Wardrobe</h4>
                                        <h6>
                                            {% if wardrobe %}<a href="{% url 'wardrobe:view_wardrobe'  wardrobe.id %}">{{wardrobe.name}}</a>{% else %}{% endif %}
                                        </h6>
                                    </li> 
                                    <li>
                                        <h4>Wardrobe Item Count</h4>
                                        <h6>
                                            {{item_count|default:"0"}}
                                        </h6>
                                    </li> 
                                    <li>
                                        <h4>Access Token </h4>
                                        <h6>
                                            {% if token and token.key %}Token {{token.key}}{% else %}-{% endif %}
                                        </h6>
                                    </li> 
                                </ul>
                                <h5 class=""><b>Preferred Contact Methods</b></h5>
                                <ul class="product-bar mb-2">
                                    <li>
                                        <h4>Is Notification Enable</h4>
                                        <h6>
                                            {% if user.notification_enable %}
                                            <span class="badge bg-info">Yes</span>
                                            {% else %}
                                            <span class="badge bg-warning">No</span>
                                            {% endif%}                 
                                        </h6>
                                    </li>
                                </ul>

                                {% if device %}
                                <h5 class=""><b>Device Information</b></h5>
                                <ul class="product-bar mb-2">
                                    <li>
                                        <h4>Device Id</h4>
                                        <h6>
                                            {{device.id}}                 
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Device Name</h4>
                                        <h6>
                                            {{device.device_name}}                 
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Device Type</h4>
                                        <h6>
                                            {% if device.device_type == 1 %}
                                            Andriod
                                            {% else %}
                                            IOS
                                            {% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Device Token</h4>
                                        <h6>
                                            {% if device.device_token %}{{device.device_token}}{% else %}-{% endif %}                 
                                        </h6>
                                    </li>
                                </ul>
                                {% endif %}
                                {% if user.user_image %}
                                <ul class="product-bar mb-2">
                                    <li>
                                        <h4>Avatar Image</h4>
                                        <h6>
                                            {% if user.user_image %}
                                                <a class="product-img" href="{{ user.user_image.url }}" data-fancybox="gallery">
                                                    <img style="height: 50px;" src="{{ user.user_image.url }}" alt="image">
                                                </a>
                                                {% else %}
                                                <a class="product-img" href="{% static 'admin-assets/images/dp.png' %}" data-fancybox="gallery">
                                                    <img style="height: auto;" src="{% static 'admin-assets/images/dp.png' %}" alt="image">
                                                </a>
                                            {% endif %}
                                        </h6>
                                    </li>
                                </ul>
                                {% endif %}
                                {% comment %} <h5 class="mt-3"><b>Stripe Information</b></h5>
                                <ul class="product-bar mb-2">
                                    <li>
                                        <h4>Stripe Customer ID</h4>
                                        <h6>
                                            <div class="d-flex justify-content-between">
                                                <span>{% if user.customer_id %}{{user.customer_id}}{% else %}-{% endif %}</span>
                                                {% if not user.customer_id %}
                                                <a onclick="Loader()" href="{% url "users:modify_customer_stripe_account" user.id %}?type=customer" title="Create Customer ID" class="btn btn-sm btn-info">Create Customer ID</a>
                                                {% endif %}
                                            </div>
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Stripe Account ID</h4>
                                        <h6>
                                            <div class="d-flex justify-content-between">
                                                <span>{% if user.account_id %}{{user.account_id}}{% else %}-{% endif %}</span>
                                                {% if not user.account_id %}
                                                <a onclick="Loader()" href="{% url "users:modify_customer_stripe_account" user.id %}?type=account" title="Create Account ID" class="btn btn-sm btn-info">Create Account ID</a>
                                                {% endif %}
                                            </div>
                                        </h6>
                                    </li>
                                
                                </ul> {% endcomment %}
                            </div>
                        </div>
                        <div class="btn-list border-0 d-flex justify-content-end align-items-center mt-4">
                            {% if user.status == 1 %}
                                <a href="{% url 'users:inactivate_user' user.id %}" onclick="Loader()" class="btn btn-warning ms-2">DEACTIVATE</a>
                                <a href="{% url 'users:delete_user' user.id %}" onclick="Loader()" class="btn btn-danger ms-2">DELETE</a>
                            {% elif user.status == 2 %}
                                <a href="{% url 'users:activate_user' user.id %}" onclick="Loader()" class="btn btn-success ms-2">ACTIVATE</a>
                                <a href="{% url 'users:delete_user' user.id %}" onclick="Loader()" class="btn btn-danger ms-2">DELETE</a>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabs -->
            <div class="col-lg-12 col-sm-12 mt-5">
                <div class="row mt-4">
                    <div class="bs-example action-tabs">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#sectionA" class="nav-link nav-link-items active nav-link1" data-toggle="tab">Login History</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sectionB" class="nav-link nav-link-items nav-link1" data-toggle="tab">Outfit</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sectionC" class="nav-link nav-link-items nav-link1" data-toggle="tab">Favourite Items</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sectionD" class="nav-link nav-link-items nav-link1" data-toggle="tab">Virtual Try Ons</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="sectionA" class="tab-pane fade show active ">
                                <section id="tab" class="tab-panel">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class=" dataview">
                                                <div class="table-responsive">
                                                    <table class="table datatable">
                                                        <thead>
                                                            <tr>
                                                                <th><strong>User IP</strong></th>
                                                                <th><strong>Agent</strong></th>
                                                                <th><strong>Status</strong></th>
                                                                <th><strong>Created On </strong></th>
                                                                <th><strong>Url </strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if loginhistory %}
                                                                {% for history in loginhistory %}
                                                                <tr>
                                                                    <td>{{history.user_ip}}</td>
                                                                    <td>{{history.user_agent}}</td>
                                                                    <td>
                                                                        {% if history.status == 1 %}
                                                                        <div class="badge bg-success">SUCCESS</div>
                                                                        {% else %}
                                                                        <div class="badge bg-danger">FAILURE</div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <script>
                                                                            var date = ConvertDateTime("{{ history.created_on|date:'Y-m-d' }}", "{{ history.created_on|time:'H:i' }}");
                                                                            document.write(date);
                                                                        </script>
                                                                    </td>
                                                                    <td>{% if history.url %}{{history.url}}{% else %}-{% endif %}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {% if loginhistory|length > 10 %}
                                                <div class='text-left mt-2' >
                                                    <a class='btn btn-primary' href="{% url 'accounts:login_history' %}?email={{user.email}}">View More <i class="fas fa-angle-double-right ms-2"></i></a>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div id="sectionB" class="tab-pane fade show">
                                <section id="tab" class="tab-panel">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class=" dataview">
                                                <div class="table-responsive">
                                                    <table class="table datatable">
                                                        <thead>
                                                            <tr>
                                                                <th><strong>Title</strong></th>
                                                                <th><strong>Occasion</strong></th>
                                                                <th><strong>Season</strong></th>
                                                                <th><strong>Outfit Image</strong></th>
                                                                <th><strong>Created On</strong></th>
                                                                <th><strong>Actions</strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if outfits %}
                                                                {% for outfit in outfits %}
                                                                <tr>
                                                                    <td> {{outfit.title|default:"-"}}</td>
                                                                    <td> {{outfit.occasion.title|default:"-"}}</td>
                                                                    <td> 
                                                                        {% if outfit.weather_type == 1 %}
                                                                            <span class="badge bg-success">SUMMER</span>
                                                                        {% elif outfit.weather_type == 2 %}
                                                                            <span class="badge bg-warning">WINTER</span>
                                                                        {% elif outfit.weather_type == 3 %}
                                                                            <span class="badge bg-primary">RAINY</span>
                                                                        {% elif outfit.weather_type == 4 %}
                                                                            <span class="badge bg-secondary">SPRING</span>
                                                                        {% elif outfit.weather_type == 5 %}
                                                                            <span class="badge bg-secondary">ALL SEASON</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex align-items-center display-images">
                                                                            {% if outfit.image %}
                                                                            <a href="{{outfit.image.url}}" data-fancybox>
                                                                                <img src="{{outfit.image.url}}" class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% else %}
                                                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                                                class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% endif %}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <script>
                                                                            var date = ConvertDateTime("{{ outfit.created_on|date:'Y-m-d' }}", "{{ outfit.created_on|time:'H:i' }}");
                                                                            document.write(date);
                                                                        </script>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <a title="View" href="{% url 'wardrobe:view_outfit_detail' outfit.id %}" id="view-btn" class="btn btn-success shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- pagination-->
                                                {% include "admin-includes/pagination.html" with listing_objects=outfits %}
                                                <!-- pagination end-->
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div id="sectionC" class="tab-pane fade show">
                                <section id="tab" class="tab-panel">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class=" dataview">
                                                <div class="table-responsive">
                                                    <table class="table datatable">
                                                        <thead>
                                                            <tr>
                                                                <th><strong>Title</strong></th>
                                                                <th><strong>Category</strong></th>
                                                                <th><strong>Occasion</strong></th>
                                                                <th><strong>Seasion</strong></th>
                                                                <th><strong>Colour</strong></th>
                                                                <th><strong>Brand</strong></th>
                                                                <th><strong>Created On</strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if favourite_items %}
                                                                {% for item in favourite_items %}
                                                                <tr>
                                                                    <td> 
                                                                        <div class="d-flex align-items-center display-images">
                                                                            {% if item.image %}
                                                                            <a href="{{item.image.url}}" data-fancybox>
                                                                                <img src="{{item.image.url}}" class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% else %}
                                                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                                                class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% endif %}
                                                                             {{item.title|default:"-"}}
                                                                        </div>
                                                                    </td>
                                                                    <td> {{item.cloth_category.title|default:"-"}}</td>
                                                                    <td> {{item.occasion.title|default:"-"}}</td>
                                                                    <td> 
                                                                        {% if item.weather_type == 1 %}
                                                                            <span class="badge bg-success">SUMMER</span>
                                                                        {% elif item.weather_type == 2 %}
                                                                            <span class="badge bg-warning">WINTER</span>
                                                                        {% elif item.weather_type == 3 %}
                                                                            <span class="badge bg-primary">RAINY</span>
                                                                        {% elif item.weather_type == 4 %}
                                                                            <span class="badge bg-secondary">SPRING</span>
                                                                        {% elif item.weather_type == 5 %}
                                                                            <span class="badge bg-secondary">ALL SEASON</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td> {{item.color|default:"-"}}</td>
                                                                    <td> {{item.brand|default:"-"}}</td>
                                                                    <td>
                                                                        <script>
                                                                            var date = ConvertDateTime("{{ item.created_on|date:'Y-m-d' }}", "{{ item.created_on|time:'H:i' }}");
                                                                            document.write(date);
                                                                        </script>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                               <!-- pagination-->
                                                {% include "admin-includes/pagination.html" with listing_objects=favourite_items %}
                                                <!-- pagination end-->
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div id="sectionD" class="tab-pane fade show">
                                <section id="tab" class="tab-panel">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class=" dataview">
                                                <div class="table-responsive">
                                                    <table class="table datatable">
                                                        <thead>
                                                            <tr>
                                                                <th><strong>Order Id</strong></th>
                                                                <th><strong>Source Image</strong></th>
                                                                <th><strong>Garment Image</strong></th>
                                                                <th><strong>Output Image</strong></th>
                                                                <th><strong>Sigmentation Type</strong></th>
                                                                <th><strong>Created On</strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if virtual_tryons %}
                                                                {% for tryon in virtual_tryons %}
                                                                <tr>
                                                                    <td> {{tryon.order_id|default:"-"}}</td>
                                                                    <td> 
                                                                        <div class="d-flex align-items-center display-images">
                                                                            {% if tryon.source_image %}
                                                                            <a href="{{tryon.source_image.url}}" data-fancybox>
                                                                                <img src="{{tryon.source_image.url}}" class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% else %}
                                                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                                                class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% endif %}
                                                                        </div>
                                                                    </td>
                                                                    <td> 
                                                                        <div class="d-flex align-items-center display-images">
                                                                            {% if tryon.garment_image %}
                                                                            <a href="{{tryon.garment_image.url}}" data-fancybox>
                                                                                <img src="{{tryon.garment_image.url}}" class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% else %}
                                                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                                                class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% endif %}
                                                                        </div>
                                                                    </td>
                                                                    <td> 
                                                                        <div class="d-flex align-items-center display-images">
                                                                            {% if tryon.output_image %}
                                                                            <a href="{{tryon.output_image.url}}" data-fancybox>
                                                                                <img src="{{tryon.output_image.url}}" class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% else %}
                                                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                                                class="rounded-lg me-2" width="24" alt="">
                                                                            </a>
                                                                            {% endif %}
                                                                        </div>
                                                                    </td>
                                                                    <td> 
                                                                        {% if tryon.sigmentation_type == 0 %}
                                                                            <span class="badge bg-success">Upper</span>
                                                                        {% elif tryon.sigmentation_type == 1 %}
                                                                            <span class="badge bg-warning">Lower</span>
                                                                        {% elif tryon.sigmentation_type == 2 %}
                                                                            <span class="badge bg-primary">Full Body</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <script>
                                                                            var date = ConvertDateTime("{{ tryon.created_on|date:'Y-m-d' }}", "{{ tryon.created_on|time:'H:i' }}");
                                                                            document.write(date);
                                                                        </script>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                               <!-- pagination-->
                                                {% include "admin-includes/pagination.html" with listing_objects=favourite_items %}
                                                <!-- pagination end-->
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabs end -->
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}