
.login-outr {
  background: url('../images/banner.gif');
  position: relative;
  min-height: calc(100vh - 54px);
  position: relative;
  background-size: cover;
}

.login-outr::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 55%);
  content: "";
}

.login-box {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  z-index: 999;
  border-radius: 8px;
}

.login-box .form-section {
  padding: 50px 50px;
  border-left: 1px solid rgb(238 238 238 / 25%);
}

.form-label {
  margin-bottom: .1rem;
}

.auth-logo-inr {
  display: inline-block;
  overflow: hidden;
}

.auth-logo-inr img {
  width: 120px;
}

.auth-logo .subtitle {
  font-size: 14px;
  line-height: 26px;
}

.login-box .info {
  position: relative;
  width: 420px;
  margin: 0 auto;
  height: 400px;
  text-align: center;
}

.login-box .info .box {
  position: absolute;
  width: 400px;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  padding: 20px;
  border: 15px solid #fff;
}

.login-box .info .box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.login-box .info .box span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #000;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  to {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.login-box .info .box span:nth-child(1) {
  transform: rotate(0);
}

.login-box .info .box span:nth-child(2) {
  transform: rotate(90deg);
}

.login-box .info .box span:nth-child(3) {
  transform: rotate(180deg);
}

.login-box .info .box span:nth-child(4) {
  transform: rotate(270deg);
}

.login-box .info .box .content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.login-box .info .box .content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.login-box .info .box .content p {
  margin-bottom: 0;
  line-height: 28px;
  font-size: 16px;
  color: #fff;
}

.forgot-password {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: underline !important;
}

.login-outr .toggle-password {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 18px;
  z-index: 9;
}

.login-box .form-check .form-check-input {
  margin-top: 3px;
}

label.error {
  font-size: 12px;
  color: #f00;
}

.account-card {
  font-size: 15px;
}

.remeber-card label {
  font-size: 14px;
}

.login-outr .common-form .form-control,
.login-outr .common-form .form-select {
  font-size: 14px;
  color: #262834 !important;
  font-weight: 400;
  height: 50px;
  border-radius: 6px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  border: 1px solid rgba(255, 255, 255);
}

.login-outr .common-form .form-control:focus,
.login-outr .common-form .form-select:focus {
  border-color: #000;
  box-shadow: none;
}

.login-outr .common-form .form-control::placeholder {
  color: #4d4d4d;
}

.login-outr .form-check-input:checked {
	background-color: #000;
	border-color: #000;
}

.auth-ftr {
	background: #f4f4f4;
	padding: 15px 0;
}
.auth-ftr p a{
    text-decoration: underline;
}


@media (min-width:768px) and (max-width:991px) { 
    .login-box .info {
	display: none;
}
}
@media (max-width:767px) {
.login-box .info {
	display: none;
}
}