{% include 'registration/includes/new-header.html' %}{% load static %}{% load extras %}

<section class="login-outr d-flex align-items-center">
  <div class="container">
    <div class="login-box row align-items-center">
      <div class="align-self-center col-lg-6 col-mg-12 p-0 order-1 order-lg-2">
        <div class="form-section align-self-center">
          <div class="auth-logo text-center">
            <a class="auth-logo-inr" href="/">
               <img src="{% static 'admin-assets/images/logo-wht.svg' %}" />
            </a>
            <h4 class="mt-2 text-white mb-2">Reset Password</h4>
            <h6 class="mt-0 text-white mb-4">Your password must consist of atleast 8-20 characters including numbers and a special character, and must not contain spaces and emojis.</h6>
          </div>
          <form class="common-form" onsubmit="Loader(this.id)" id="reset-password" method="POST">
              {% csrf_token %}
              <div class="mb-4">
                <label for="password" class="form-label text-white">
                    Password <span class="text-danger">*</span>
                </label>

                <div class="position-relative pass-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                    <span onclick="changetype()" class="fas toggle-password fa-eye-slash"></span>
                </div>
            </div>
            <button type="submit" class="w-100 common-black-btn">Reset Password</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-mg-12 p-0">
        <div class="info clearfix">
          <div class="box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
              <h3>Welcome to My Dresser</h3>
              <p>Your wardrobe, smarter than ever. From digitizing your closet to
                AI-powered styling, Dressr transforms how you choose what to wear.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'registration/includes/footer.html' %}
<script src="{% static "admin-assets/js/validations/reset-password.js" %}"></script>