{% include "admin-includes/header.html" %}
{% load static %}
{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Plan Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="#" onclick="history.back()">Purchased Plans</a></li>
                        <li class="breadcrumb-item active">Plan Information</li>
					</ol>
				</nav>
            </div>
            <div class="page-btn d-flex">
                {% if plan.invoice %}
                    <a class="btn btn-primary me-1" href="{{plan.invoice.url}}" download><i class="fas fa-download me-1"></i> Invoice</a>
                {% endif %}
                <a class="btn btn-secondary me-1" href="#" onclick="history.back()"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">
                                <li>
                                    <h4>Id </h4>
                                    <h6>{{plan.id}}</h6>
                                </li>
                                <li>
                                    <h4>Plan Id </h4>
                                    <h6>{{plan.plan_id}}</h6>
                                </li>
                                <li>
                                    <h4>Price / Month </h4>
                                    <h6>
                                        $ {{plan.amount|floatformat:'2g'}}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Final Price </h4>
                                    <h6>
                                        $ {{plan.final_amount|floatformat:'2g'}}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Status </h4>
                                    <h6>
                                        {% if plan.status == 1 %}
                                            <span class="badge bg-primary">ACTIVE</span>
                                        {% elif plan.status == 2 %}
                                            <span class="badge bg-warning">IN-QUEUE</span>
                                        {% elif plan.status == 3 %}
                                            <span class="badge bg-danger">EXPIRED</span>
                                        {% elif plan.status == 4 %}
                                            <span class="badge bg-danger">CANCELLED</span>
                                        {% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Plan Validity </h4>
                                    <h6>
                                        {% if plan.validity == 1 %}{% if plan.month_year > 1 %}Months{% else %}Month{% endif %} 
                                        {% elif plan.validity == 2 %}{% if plan.month_year > 1 %}Years{% else %}Year{% endif %} 
                                        {% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Purchased On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ plan.created_on|date:'Y-m-d' }}", "{{ plan.created_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                <li>
                                    <h4>User</h4>
                                    <h6>
                                        <div class="d-flex align-items-center display-images">
                                            {% if plan.purchased_by.profile_pic %}
                                            <a href="{{plan.purchased_by.profile_pic.url}}" data-fancybox>
                                                <img src="{{plan.purchased_by.profile_pic.url}}" class="rounded-lg me-2" width="24" alt="">
                                            </a>
                                            {% else %}
                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                class="rounded-lg me-2" width="24" alt="">
                                            </a>
                                            {% endif %}
                                            <a class="w-100" href="{% url "users:view_user" plan.purchased_by.id %}">{{plan.purchased_by.full_name|capfirst|default:"-"}}</a>
                                        </div>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Activated On </h4>
                                    <h6>
                                        {% if plan.activated_on %}
                                            <script>
                                                var date = ConvertDateTime("{{ plan.activated_on|date:'Y-m-d' }}", "{{ plan.activated_on|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Expire On </h4>
                                    <h6>
                                        {% if plan.expire_on %}
                                            <script>
                                                var date = ConvertDateTime("{{ plan.expire_on|date:'Y-m-d' }}", "{{ plan.expire_on|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Description</h4>
                                    <h6>
                                        {% if plan.features %}{{plan.features|safe}}{% else %}-{% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Invoice</h4>
                                    <h6>
                                        {% if plan.invoice %}
                                            <a target="_blank" href="{{plan.invoice.url}}"><i class="fas fa-file-pdf" style='font-size:30px'></i></a>
                                        {% else %}-{% endif %}
                                    </h6>
                                </li>
                            </ul>
                        </div>
                       <div class="btn-list border-0 d-flex justify-content-end align-items-center mt-4">
                            {% if plan.status == 2 %}
                                <a href="{% url "subscription:activate_plan" plan.id %}" title="Want to activate this plan ?" message="Note : After activation of this plan , current active plan will be marked expired if have any and customers count data will be add on to your current remaining customers." class="btn btn-info ms-2 action_confirm_2">Activate Now</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}