{% load static %}
{% load extras %}
<div class="auth-ftr">
    <div class="container">
        <p class="mb-0 copy-right text-center text-black">
                © 2025 My Dresser. All rights reserved. Developed By
                <a href="https://toxsl.com/" target="_blank">
                  ToXSL Technologies.</a
                >
              </p>
    </div>
</div>

<script src="{% static 'admin-assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'admin-assets/js/script.js' %}"></script>
<script src="{% static 'admin-assets/js/validate.js' %}"></script>
<script src="{% static 'admin-assets/js/intlTelInput-jquery.min.js' %}"></script>
<script src="{% static 'admin-assets/js/customized-js/common.js' %}"></script>
<script src="{% static 'admin-assets/js/customized-js/show-more.js' %}"></script>

<!-- Jquery JS -->
{% comment %} <script src="{% static 'admin-assets/js/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'admin-assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.19.5/jquery.validate.min.js"></script>
<script src="{% static 'admin-assets/js/jquery-3.6.0.min.js' %}"></script> {% endcomment %}


<script>
    AOS.init({
        duration: 800,
        easing: 'ease-in-out'
    });

    function changetype(icon) {
        const passwordInput = document.getElementById("password");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    } 
    document.addEventListener("DOMContentLoaded", () => {
        feather.replace();
    });

    $("#login").validate({
        rules: {
            email: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
                email: true,
            },
            password: {
                required: true, 
                minlength: 8,
                maxlength: 35,
                normalizer: function (value) {
                    return $.trim(value);
                }
            },
        },
        messages: {
            email: {
                required: "Please enter your email address",
            },
            password: {
                required: "Please enter password",
                minlength: "At least 8 characters required!",
                maxlength: "At most 35 characters only!"
            },
        }
    });
</script>
</body>
</html>