<!doctype html>
<html lang="en-US">{% load static %}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Support Request</title>
    <meta name="description" content="Support Request">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @media only screen and (max-width: 700px) {
            .main-table {
                width: 100% !important;
                max-width: 100% !important;
            }
            .content-td {
                padding: 0 10px !important;
            }
            .logo-td {
                padding: 10px !important;
            }
            .contact-img {
                width: 100% !important;
                max-width: 250px !important;
                height: auto !important;
            }
        }
    </style>
</head>
<body style="margin:0; background: #f1f5f9; padding:0;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f1f5f9" style="font-family: 'Open Sans', Arial, sans-serif; margin:0; padding:0;">
        <tr>
            <td align="center">
                <table class="main-table" cellpadding="0" cellspacing="0" border="0" width="670" style="background-color: #fff; max-width:670px; margin:50px auto; border-radius:3px; box-shadow:0 0 0 0 rgba(0,0,0,.06);">
                    <tr>
                        <td class="logo-td" align="center" style="padding: 20px;background: #1e3d9d;">
                            <a href="{{ protocol }}://{{ domain }}{% url "frontend:index" %}" title="logo" target="_blank">
                                <img width="100" src="{{ protocol }}://{{ domain }}/static/admin-assets/images/230x0w.webp" title="logo" alt="logo" style="display:block; margin:auto;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 0px 35px;">
                            <img class="contact-img" src="{{ protocol }}://{{ domain }}/static/admin-assets/images/contact-us-img.png" title="Contact Us" alt="Contact Us" style="width: 300px; max-width: 100%; height: auto; display: block; margin: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="content-td" style="padding:0 35px;">
                            <h1 style="color: #1e3d9d;font-weight: 500;margin: 0;font-size: 22px;font-family: 'Rubik',sans-serif;">
                                {{title}}
                            </h1>
                            <span style="display: inline-block;vertical-align: middle;margin: 0px 0 20px;width: 240px;height: 5px;"></span>
                            <p style="font-size:15px; color:#000; margin: 0; line-height:24px;padding-top: 20px;text-align: left;">
                                Dear {% if user %}{{user.full_name|capfirst}}{% else %}User{% endif %},
                            </p>
                            <p style="font-size:15px; color:#000; margin:0; line-height:24px; padding: 20px 0 20px 0;text-align: left;">
                                Thank you for contacting us! We appreciate your patience as we address your query.<br>
                                <strong>Your Query : </strong><br> {{token}} <br>
                            </p>
                            <pre style="font-size:15px; color:#000; margin:0; line-height:24px; padding-bottom:10px; text-align:left; white-space:pre-line; font-family: 'Open Sans', Arial, sans-serif; background:none; border:none;"><strong>Our Response:</strong><br>{{description}}</pre>
                            <p style="font-size:15px; color:#000; margin:0; line-height:24px; padding: 20px 0 20px 0;text-align: left;">
                                If you need further assistance, please do not hesitate to reach out to us.<br>
                                <a style="color:#4467ff" target="_blank" href="">click here for assistance</a>
                                We are here to help! <br><br>
                                Best regards, <br>
                                Team Dressr AI
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px 0;border-top: 2px solid #cbcbcb4a; background-color: #1e3d9d;">
                            <p style="font-size:14px; color:#fff; line-height:18px; margin:0 0 0;">
                                Copyright  © <span id="full_year">{% now "Y" as current_year %}{{current_year}}</span>
                                <a style="color: #fff;text-decoration: none; font-weight: 600;" target="_blank" href="{% url 'frontend:index' %}"> Dressr AI </a> | All Rights Reserved. Developed by <a style="color: #fff; text-decoration: none; font-weight: 600;" href="https://toxsl.com/" target="_blank">TOXSL Technologies</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>