<!DOCTYPE html>
<html lang="en-US">
{% load static %}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Promotional Email</title>
    <meta name="description" content="Dressr AI Notifications" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @media only screen and (max-width: 700px) {
            .main-table {
                width: 100% !important;
                max-width: 100% !important;
            }
            .content-td {
                padding: 0 10px !important;
            }
            .logo-td {
                padding: 10px !important;
            }
            .notify-img {
                width: 100% !important;
                max-width: 250px !important;
                height: auto !important;
            }
        }
    </style>
</head>
<body style="margin:0; background: #f1f5f9; padding:0;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f1f5f9" style="font-family: 'Open Sans', Arial, sans-serif; margin:0; padding:0;">
        <tr>
            <td align="center">
                <table class="main-table" cellpadding="0" cellspacing="0" border="0" width="670" style="background-color: #fff; max-width:670px; margin:50px auto; border-radius:20px; box-shadow:0 0 0 0 rgba(0,0,0,.06);">
                    <tr>
                        <td class="logo-td" align="center" style="padding: 30px 10px 10px 10px;background: #14285a; border-radius:0 0 0 0;">
                            <a href="{{ protocol }}://{{ domain }}{% url "frontend:index" %}" title="logo" target="_blank">
                                <img width="100" src="{{ protocol }}://{{ domain }}{% static "admin-assets/images/230x0w.webp" %}" title="logo" alt="logo" style="display:block; margin:auto;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 0px 35px;">
                            <img class="notify-img" src="{{ protocol }}://{{ domain }}{% static 'admin-assets/images/email-confirmed.png' %}" title="Notification" alt="Notification" style="width: 250px; max-width: 100%; height: auto; display: block; margin: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="content-td" style="padding:0 35px;">
                            <h1 id="mail_title" name="mail_title" style="color: #000;font-weight: 500;margin: 0;font-size: 22px;font-family: 'Rubik',sans-serif;text-align:left;">
                                {{ subject }}
                            </h1>
                            <p style="font-size:15px; color:#000; margin:0; line-height:24px; padding: 20px 0 20px 0;text-align:left;">
                                Dear <span style="" id="email_user_name"> {{ token }}</span>,
                            </p>
                            <pre id="mail_description" style="font-size:15px; color:#000; margin:0; line-height:24px; padding-bottom:10px; text-align:left; white-space:pre-line; font-family: 'Open Sans', Arial, sans-serif; background:none; border:none;">{{ description }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px 0;border-top: 2px solid #cbcbcb4a; background-color: #14285a; border-radius:0 0 0 0;">
                            <p style="font-size:14px; color:#fff; line-height:18px; margin:0 0 0;">
                                Copyright  © <span id="full_year">{% now "Y" as current_year %}{{current_year}}</span>
                                <a style="color: #fff;text-decoration: none; font-weight: 600;" target="_blank" href="{% url 'frontend:index' %}"> Dressr AI </a> | All Rights Reserved. Developed by <a style="color: #fff; text-decoration: none; font-weight: 600;" href="https://toxsl.com/" target="_blank">TOXSL Technologies</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>