<!doctype html>
<html lang="en-US">{% load static %}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Reset Password</title>
    <meta name="description" content="Reset Password.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @media only screen and (max-width: 700px) {
            .main-table {
                width: 100% !important;
                max-width: 100% !important;
            }
            .content-td {
                padding: 0 10px !important;
            }
            .logo-td {
                padding: 10px !important;
            }
            .reset-img {
                width: 100% !important;
                max-width: 250px !important;
                height: auto !important;
            }
        }
    </style>
</head>

<body style="margin:0; background: #f1f5f9; padding:0;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f1f5f9" style="font-family: 'Open Sans', Arial, sans-serif; margin:0; padding:0;">
        <tr>
            <td align="center">
                <table class="main-table" cellpadding="0" cellspacing="0" border="0" width="670" style="background-color: #fff; max-width:670px; margin:50px auto; border-radius:3px; box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                    <tr>
                        <td class="logo-td" align="center" style="padding: 20px;background: #1e3d9d;">
                            <a>
                                <img width="100" src="{{ protocol }}://{{ domain }}/static/admin-assets/images/logo-wht.svg" title="logo" alt="logo" style="display:block; margin:auto;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="padding:0px 35px;">
                            <img class="reset-img" src="{{ protocol }}://{{ domain }}/static/admin-assets/images/reset-pass-img.png" title="Reset Password" alt="Reset Password" style="width: 300px; max-width: 100%; height: auto; display: block; margin: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="content-td" style="padding:0 35px;">
                            <h1 style="color: #1e3d9d;font-weight: 500;margin: 0;font-size: 27px;font-family: 'Rubik',sans-serif;">
                                {{title}}
                            </h1>
                            <span style="display: inline-block;vertical-align: middle;margin: 0px 0 26px;border-bottom: 1px solid #1e3d9d; width: 240px;height: 5px;"></span>
                            <p style="font-size:15px; color:#455056; margin:8px 0 0; line-height:24px;">
                                Hello {% if user.full_name %}{{user.full_name|capfirst}}{% else %}{{user.username}}{% endif %},
                            </p>
                            <p style="font-size:15px; color:#455056; margin:8px 0 0; line-height:24px;">
                                Thank you for joining My Dressr platform.<br>
                                Here is your reset password link to {% if title == 'Reset Your Password' %}reset your account password{% else %}verify your account{% endif %}.
                            </p>
                            <div style="text-align:center;">
                                <span style="background: #1e3d9d; display:inline-block;/* font-weight:600; */margin-top:24px;color:#fff;/* text-transform:uppercase; */font-size: 10px;padding:12px 32px;border-radius:50px;/* letter-spacing:2px; */">
                                    <a style="color:#fff;text-decoration:none !important;" href="{{token}}">Click Here</a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px 0;border-top: 2px solid #cbcbcb4a; background-color: #1e3d9d;">
                            <p style="font-size:14px; color:#fff; line-height:18px; margin:0 0 0;">
                                Copyright  © <span id="full_year">{% now "Y" as current_year %}{{current_year}}</span>
                                <a style="color: #fff;text-decoration: none; font-weight: 600;" target="_blank" href="{% url 'frontend:index' %}"> My Dressr </a> | All Rights Reserved. Developed by <a style="color: #fff; text-decoration: none; font-weight: 600;" href="https://toxsl.com/" target="_blank">TOXSL Technologies</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>