<!doctype html>
<html lang="en-US">{% load static %}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Verification Success</title>
    <meta name="description" content="Account Verification.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @media only screen and (max-width: 700px) {
            .main-table {
                width: 100% !important;
                max-width: 100% !important;
            }
            .content-td {
                padding: 0 10px !important;
            }
            .verify-img {
                width: 100% !important;
                max-width: 250px !important;
                height: auto !important;
            }
        }
    </style>
</head>
<body style="margin:0; background: #f1f5f9; padding:0;">
    <table cellspacing="0" border="0" cellpadding="0" width="100%" style="font-family: 'Open Sans', Arial, sans-serif; margin:0; padding:0;">
        <tr>
            <td align="center">
                <table class="main-table" width="670" cellpadding="0" cellspacing="0" border="0" style="background-color: #fff; max-width:670px; margin:50px auto; border-radius:3px; box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="padding:0 35px;">
                            <img class="verify-img" src="{{ protocol }}://{{ domain }}/static/admin-assets/images/verifiction-success.png" title="Verification Success" alt="Verification Success" style="width: 250px; max-width: 100%; height: auto; display: block; margin: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="content-td" style="padding:0 35px;">
                            <h1 style="color:#1e1e2d; font-weight:600; margin:0;font-size:22px;font-family:'Rubik',sans-serif;">
                                Your Account Verified Successfully
                            </h1>
                            <span style="display:inline-block; vertical-align:middle; width:100px;"></span>
                            <p style="font-size:15px; color:#455056; margin:8px 0 0; line-height:24px;">
                                Hello {{user.email}},<br>
                                Thank you for joining My Dressr.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="text-align:center;padding: 20px 0;border-top: 2px solid #cbcbcb4a; background-color: #1e3d9d;">
                            <p style="font-size:14px; color:#fff; line-height:18px; margin:0;">
                                Copyright  © <span id="full_year">{% now 'Y' as current_year %}{{current_year}}</span>
                                <a style="color: #fff;text-decoration: none; font-weight: 600;" target="_blank" href="{% url 'frontend:index' %}"> My Dressr </a> | All Rights Reserved. Developed by <a style="color: #fff; text-decoration: none; font-weight: 600;" href="https://toxsl.com/" target="_blank">ToXSL Technologies</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>