{% load static %}
{% load extras %}

{% include "frontend/includes/header.html" %} 

    <!-- Banner Section Start -->
    <section class="banner-card" id="hero">
      <div class="container">
        <div class="banner-caption">
          <h1 class="animate-on-scroll" data-animate="animate__fadeInUp">
            Smart wardrobe<br />
            assistant
          </h1>
          <p class="animate-on-scroll" data-animate="animate__fadeInUp">
            Digitize your wardrobe, create your virtual avatar, and get daily
            outfit ideas in seconds.
          </p>
          <a class="common-wht-btn mt-5 mb-4" title="Download App" href="#">
            Download App
            <span class="btn-arrow">
              <img src="{% static 'admin-assets/images/arrow.svg' %}" />
            </span>
          </a>
          <h5>Available on iOS, Android & Web.</h5>
        </div>
      </div>
    </section>
    <!-- Banner Section End -->

    <!-- Re-imagine Section Start -->
    <section class="re-imagine-sec pd-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-hd-card mb-5">
              <h4 class="section-subhd">Re-imagine the Way</h4>
              <h2 class="section-hd">You Dress</h2>
              <p>
                Your wardrobe, smarter than ever. From digitizing your closet to
                AI-powered styling,<br />
                Dressr transforms how you choose what to wear.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div
              class="animate-on-scroll imagine-card" data-animate="animate__fadeInLeft"
              style="
                background: url('../../static/admin-assets/images/imagine-lft.png');
              "
            >
              <h4>
                Digitize Your<br />
                Wardrobe
              </h4>
              <p>🧺 Upload your real clothes and manage them anywhere</p>
              <h5>"Turn your closet into a smart, searchable wardrobe."</h5>
              <a class="common-black-btn" href="#">See How</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div
               class="animate-on-scroll imagine-card" data-animate="animate__fadeInRight"
              style="
                background: url('../../static/admin-assets/images/imagine-rt.png');
              "
            >
              <h4 class="text-white">Try On Virtually</h4>
              <p class="text-white">
                🪞 Use your AI avatar to preview outfits before you wear or buy
                them.
              </p>
              <h5 class="text-white">"Shop and style with confidence."</h5>
              <a class="common-wht-btn" href="#">See How</a>
            </div>
          </div>
          <div class="col-lg-12">
            <div
              class="imagine-card imagine-card-main mt-4 animate-on-scroll" data-animate="animate__fadeInUp"
              style="
                background: url('../../static/admin-assets/images/imagine-main.png');
              "
            >
              <h4>AI Outfit <br />Suggestions</h4>
              <p>
                🤖 Personalized looks based on weather, trends & your taste.
              </p>
              <h5>"Let Dressr be your daily stylist."</h5>
              <a class="common-black-btn" href="#">See How</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Re-imagine Section End -->

    <!-- Your Style Section Start -->
    <section class="your-style-section pd-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-hd-card mb-5">
              <h4 class="section-subhd">Your Style,</h4>
              <h2 class="section-hd">Simplified in 3 Steps</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="upload-card text-center p-4">
              <div class="upload-icon mb-4">
                <img
                  src="{% static 'admin-assets/images/upload-dress.svg' %}"
                />
              </div>
              <h4 class="upload-hd mb-3">Upload Your Wardrobe</h4>
              <p class="upload-para mb-0">Take photos or upload items</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="upload-card text-center p-4">
              <div class="upload-icon mb-4">
                <img src="{% static 'admin-assets/images/create.svg' %}" />
              </div>
              <h4 class="upload-hd mb-3">Create Your Avatar</h4>
              <p class="upload-para mb-0">
                AI builds your personal digital twin
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="upload-card text-center p-4">
              <div class="upload-icon mb-4">
                <img src="{% static 'admin-assets/images/dressed.svg' %}" />
              </div>
              <h4 class="upload-hd mb-3">Get Dressed by AI</h4>
              <p class="upload-para mb-0">
                Receive outfit ideas every day, for any occasion.
              </p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
          <a class="common-black-btn" title="Download App" href="#">
            Create My Free Account
            <span class="btn-arrow">
              <img src="{% static 'admin-assets/images/wht-arrow.svg' %}" />
            </span>
          </a>
        </div>
      </div>
    </section>
    <!-- Your Style Section End -->

    <!-- Feature Section Start -->
    <section class="feature-sec pd-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-hd-card mb-5">
              <h4 class="section-subhd">Features that make</h4>
              <h2 class="section-hd">Styling effortless</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="feature-card text-center p-4">
              <div class="feature-img">
                <img src="{% static 'admin-assets/images/feature-1.png' %}" />
              </div>
              <h4 class="feature-hd mb-2">Effortless Style</h4>
              <p class="feature-para mb-0">Perfect looks for every occasion.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature-card text-center p-4">
              <div class="feature-img">
                <img src="{% static 'admin-assets/images/feature-2.png' %}" />
              </div>
              <h4 class="feature-hd mb-2">Try It On</h4>
              <p class="feature-para mb-0">Dressr Try-On: Your look</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="feature-card text-center p-4">
              <div class="feature-img">
                <img src="{% static 'admin-assets/images/feature-3.png' %}" />
              </div>
              <h4 class="feature-hd mb-2">Your Wardrobe</h4>
              <p class="feature-para mb-0">
                Style smarter with your own closet
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Feature Section End -->

    <!-- Client Section Start -->
    <section class="Client-sec pd-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-hd-card mb-5">
              <h4 class="section-subhd">Loved by Modern Stylists</h4>
              <h2 class="section-hd">and Everyday Users</h2>
            </div>
          </div>
        </div>

        <div class="client-main">
          <div class="swiper ClientSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="client-card">
                  <span class="cleint-img">
                    <img
                      src="{% static 'admin-assets/images/client-1.png' %}"
                    />
                  </span>
                  <div class="client-name-card">
                    <h4 class="client-name">Emily R.</h4>
                    <p class="client-designation">Marketing Manager</p>
                  </div>
                  <div class="client-dis">
                    <p class="client-para">
                      "I finally stopped saying 'I have nothing to wear!'
                      Thanks, Dressr!"
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="client-card">
                  <span class="cleint-img">
                    <img
                      src="{% static 'admin-assets/images/client-2.png' %}"
                    />
                  </span>
                  <div class="client-name-card">
                    <h4 class="client-name">David K.</h4>
                    <p class="client-designation">Marketing Manager</p>
                  </div>
                  <div class="client-dis">
                    <p class="client-para">
                      "The virtual try-on actually works. I can test looks
                      before buying."
                    </p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="client-card">
                  <span class="cleint-img">
                    <img
                      src="{% static 'admin-assets/images/client-3.png' %}"
                    />
                  </span>
                  <div class="client-name-card">
                    <h4 class="client-name">Emily R.</h4>
                    <p class="client-designation">Marketing Manager</p>
                  </div>
                  <div class="client-dis">
                    <p class="client-para">
                      "AI picks my outfits based on weather — it's scary good."
                    </p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="client-card">
                  <span class="cleint-img">
                    <img
                      src="{% static 'admin-assets/images/client-1.png' %}"
                    />
                  </span>
                  <div class="client-name-card">
                    <h4 class="client-name">Emily R.</h4>
                    <p class="client-designation">Marketing Manager</p>
                  </div>
                  <div class="client-dis">
                    <p class="client-para">
                      "I finally stopped saying 'I have nothing to wear!'
                      Thanks, Dressr!"
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="client-card">
                  <span class="cleint-img">
                    <img
                      src="{% static 'admin-assets/images/client-2.png' %}"
                    />
                  </span>
                  <div class="client-name-card">
                    <h4 class="client-name">David K.</h4>
                    <p class="client-designation">Marketing Manager</p>
                  </div>
                  <div class="client-dis">
                    <p class="client-para">
                      "The virtual try-on actually works. I can test looks
                      before buying."
                    </p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="client-card">
                  <span class="cleint-img">
                    <img
                      src="{% static 'admin-assets/images/client-3.png' %}"
                    />
                  </span>
                  <div class="client-name-card">
                    <h4 class="client-name">Emily R.</h4>
                    <p class="client-designation">Marketing Manager</p>
                  </div>
                  <div class="client-dis">
                    <p class="client-para">
                      "AI picks my outfits based on weather — it's scary good."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Client Section End -->

    <section class="plan-section pd-100 bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-hd-card mb-5">
              <h4 class="section-subhd">Start Free</h4>
              <h2 class="section-hd">Upgrade Anytime.</h2>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="plan-card animate-on-scroll" data-animate="animate__fadeInLeft">
              <h4>Free Tier</h4>
              <p>
                Get started with your smart wardrobe<br />
                for free
              </p>
              <div class="plan-price">$0 <span>/ month</span></div>
              <ul class="plan-lists">
                <li>
                  Digitize wardrobe
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>
                <li>
                  Basic avatar
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>

                <li>
                  5 try-ons/month
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>

                <li>
                  Daily outfit suggestions
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>
              </ul>
              <a
                class="common-black-btn w-100 mt-4"
                title="Download App"
                href="#"
              >
                Start Free
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="plan-card animate-on-scroll" data-animate="animate__fadeInRight">
              <h4>Premium</h4>
              <p>
                Unlock advanced AI styling and full<br />
                wardrobe insights.
              </p>
              <div class="plan-price">$99 <span>/ month</span></div>
              <ul class="plan-lists">
                <li>
                  Unlimited try-ons
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>
                <li>
                  Advanced AI styling
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>

                <li>
                  Weather-wise looks
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>

                <li>
                  Vacation packing planner
                  <span class="plan-chk">
                    <img
                      src="{% static 'admin-assets/images/plan-chk.svg' %}"
                    />
                  </span>
                </li>
              </ul>
              <a
                class="common-black-btn w-100 mt-4"
                title="Download App"
                href="#"
              >
                Start Free
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="faq-sec pd-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="faq-img">
              <img src="{% static 'admin-assets/images/faq-img.png' %}" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-rt">
              <div class="section-hd-card mb-5 text-start">
                <h4 class="section-subhd">Frequently asked</h4>
                <h2 class="section-hd">questions</h2>
              </div>

              <div class="faq-accordion">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                      aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        1. What devices does Dressr work on?
                      </button>
                    </h2>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <p>
                          Dressr works seamlessly across all modern devices and
                          browsers including Desktop computers (Windows, Mac,
                          Linux), Mobile phones (iOS and Android)
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        2. Can I try clothes from other brands?
                      </button>
                    </h2>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <p>
                          Yes! Dressr partners with hundreds of major clothing
                          brands and retailers. You can virtually try on clothes
                          from your favorite stores all in one place. Our
                          catalog includes popular brands across all price
                          points and styles.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="headingThree">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        3. Do I need to pay to use Dressr?
                      </button>
                    </h2>
                    <div
                      id="collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <p>
                          Dressr offers both free and premium plans. The free
                          plan lets you try basic features like virtual try-ons
                          and outfit planning. Our premium plan ($99/month)
                          unlocks advanced features like unlimited try-ons,
                          personal styling recommendations, and exclusive brand
                          partnerships.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        4. How does the virtual try-on work?
                      </button>
                    </h2>
                    <div
                      id="collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingFour"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <p>
                          Our virtual try-on technology uses advanced AI and
                          computer vision to create realistic visualizations of
                          how clothes will look on you. Simply upload a photo or
                          use your camera, select items you want to try, and our
                          AI will generate a realistic preview showing how the
                          clothes fit and look on your body type.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-12">
            <div class="still-have-ques text-center mt-5">
              <h4 class="mb-3">Still have Questions?</h4>
              <p>Get answers from an experienced local host.</p>
              <a class="common-black-btn" href="#"> Ask a host </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="join-sec pd-100 ">
      <div class="container">
        <div class="join-inr animate-on-scroll" data-animate="animate__fadeInUp">
          <div class="join-card-top">
            <p>Your closet, reimagined.</p>
            <h4>
              Join 50,000+ users styling <br />
              smarter with Dressr.
            </h4>
          </div>
          <div class="join-card-bottom">
            <div class="join-plan">
              <h4>
                Plan outfits, get inspiration, and<br />
                rediscover your wardrobe all in one<br />
                place
              </h4>
              <a class="common-black-btn" href="#">
                Download App
                <span class="btn-arrow">
                  <img
                    src="{% static 'admin-assets/images/wht-arrow.svg' %}"
                  /> </span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include "frontend/includes/footer.html" %}