{% load static %}{% load extras %}{% load humanize %}
<div class="admin-header">
    <div>
        <div class="header-left active d-flex align-items-center">
            <a class="header-logo" href="{% url 'frontend:index' %}">
                <img src="{% static 'admin-assets/images/logo-wht.svg' %}" />
            </a>
        </div>
        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
            <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
        <div class="header-title">
            <a id="toggle_btn" class="toggle-btn"> <span class="toggle-line top-sm-line"></span>
                <span class="toggle-line lg-line"></span> <span class="toggle-line bottom-sm-line"></span>
            </a>
            <div class="dashboard_bar">
                {% if head_title %}{{head_title}}{% else %}Dashboard{% endif %}
            </div>
        </div>
    </div>
    <ul class="nav user-menu">
        <li>
            <a onclick="javascript:toggleFullScreen()" title="Toggle Full Screen">
                <i class="fas fa-expand full-screen mt-2"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <img src="{% static 'admin-assets/fonts/notification-bing.svg' %}" alt="img" class="mt-3"> 
                <span class="badge rounded-pill">{{request|unread_notifications_count}}</span>
            </a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span class="notification-title"><b>Notifications</b></span>
                    <a href="{% url 'accounts:delete_notifications' %}" class="clear-noti"> Clear All </a>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">
                        {% if request.user.id|notifications %}
                            {% for notification in request.user.id|notifications %}
                                <li class="notification-message">
                                    <a {% if notification.notification_type == 1 and notification.obj_id  %}
                                            href="{% url "users:view_user" notification.obj_id %}?n_id={{notification.id}}"
                                        {% elif notification.notification_type == 2 and notification.obj_id %}
                                            href="{% url "loan_manager:view_loan_application" notification.obj_id %}?n_id={{notification.id}}"
                                        {% elif notification.notification_type == 3 and notification.obj_id %}
                                            href="{% url "users:view_user" %}?n_id={{notification.id}}"
                                        {% else %}
                                            href="?n_id={{notification.id}}"
                                        {% endif %}
                                    >
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img  {% if notification.created_by.profile_pic %}
                                                src="{{notification.created_by.profile_pic.url}}" {% else %}
                                                src="{% static 'admin-assets/images/dp.png' %}"
                                                {% endif %} />
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        <b>{% if notification.title %}{{notification.title|truncatechars:50}}{% else %}-{% endif %}</b>
                                                    </span>
                                                </p>
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                    {% if notification %} {{notification.description}}{% else %}-{% endif %}
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">
                                                        <script>
                                                            var date = ConvertDateTime("{{ notification.created_on|date:'Y-m-d' }}", "{{ notification.created_on|time:'H:i' }}");
                                                            document.write(date);
                                                        </script>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="notification-message">
                                <p class="pb-0 mb-0 no-notification" style="color: #9f8a8a;"> No New Notifications</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    {% if request.user.id|unread_notifications %}
                    <a href="{% url 'accounts:notifications_list' request.user.id %}" >View all Notifications</a>
                    {% endif %}
                </div>
            </div> 
        </li> 
        <li class="nav-item dropdown has-arrow main-drop">
            <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                <span class="user-img">
                    <img {% if request.user.profile_pic %}src="{{request.user.profile_pic.url}}"{% else %} src="{% static 'admin-assets/images/dp.png' %}" {% endif %} alt="" />

                    <span class="status online"></span>
                </span>
            </a>
            <div class="dropdown-menu menu-drop-user">
                <div class="profilename">
                    <div class="profileset">
                        <span class="user-img">
                        <img {% if request.user.profile_pic %}src="{{request.user.profile_pic.url}}"{% else %} src="{% static 'admin-assets/images/dp.png' %}" {% endif %} alt="" />
                        <span class="status online"></span></span>
                        <div class="profilesets">
                            <h6>
                                {% if request.user.role_id == 1 %}
                                    {{ request.user.username }}
                                {% else %}
                                    {{request.user.full_name|capfirst}}
                                {% endif %}
                            </h6>
                            <h5>
                                {% if request.user.role_id == 1 %}ADMIN {% else %} SUB-ADMIN{% endif %}
                            </h5>
                        </div>
                    </div>
                    <hr class="m-0">
                    <a class="dropdown-item" href="{% url 'users:view_user' request.user.id %}"> My Profile <i class="fas fa-user"></i></a>
                    <a class="dropdown-item" href="{% url 'users:edit_admin' request.user.id %}">Update Profile <i class="fa fa-edit"></i></a>
                    <a class="dropdown-item" href="{% url 'accounts:change_password' %}"> Change Password <i class="fas fa-unlock-alt"></i> </a>
                    <hr class="m-0">
                    <a class="dropdown-item logout" href="{% url 'accounts:logout' %}"> Logout <i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
        </li>
    </ul>
    <div class="dropdown mobile-user-menu">
        <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'users:view_user' request.user.id %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'users:edit_admin' request.user.id %}">Update Profile</a>
            <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
    </div>
</div>
<div class="sidebar" id="sidebar">
    <div class="slimScrollDiv">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li {% if not head_title or head_title == 'Admin Profile' or head_title == 'Change Password' %} class="active" {% endif %}>
                        <a href="{% url 'frontend:index' %}" onclick="Loader()">
                            <i class="fas fa-bars"></i><span> Dashboard</span>
                        </a>
                    </li>
                    <li class="submenu {% if head_title == "User Management" or head_title == "Affiliate Management"  %} active {% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-users"></i><span> Users</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a {% if head_title == 'User Management' %} class="active" {% endif %} href="{% url 'users:users_list' %}" onclick="Loader()">
                                    Customers 
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Affiliate Management' %} class="active" {% endif %} href="{% url 'users:affiliate_list' %}" onclick="Loader()">
                                    Affiliate 
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu {% if head_title == 'Wardrobe Management' or head_title == 'Activity Flags Management' %}active {% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-user-tie"></i><span> Wardrobe</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li>
                                <a {% if head_title == 'Wardrobe Management' %} class="active" {% endif %} href="{% url 'wardrobe:wardrobe_list' %}" ><span>User Wardrobe</span></a>
                            </li>
                            <li>
                                <a {% if head_title == 'Activity Flags Management' %} class="active" {% endif %} href="{% url 'wardrobe:activity_flags' %}">
                                    Trip Activity Flag
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Trips Management' %} class="active" {% endif %} href="{% url 'wardrobe:trip_list' %}">
                                    Trips
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Outfit Management' %} class="active" {% endif %} href="{% url 'wardrobe:user_outfit_list' %}">
                                    Outfit
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Virtual Try On Management' %} class="active" {% endif %} href="{% url 'ecommerce:virtual_try_on_list' %}">
                                    Virtual Try On
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'AI Suggestions Management' %} class="active" {% endif %} href="{% url 'users:outfit_suggestions' %}">
                                    AI Suggestions
                                </a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="submenu {% if head_title == 'Subscription Plan Management' or head_title == 'Purchased Plans' %}active{% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-bell"></i><span> Subscription</span>
                        <span class="menu-arrow"></span></a>
                        <ul>
                            <li>
                                <a {% if head_title == 'Subscription Plan Management' %} class="active" {% endif %} href="{% url 'subscription:all_plans' %}">
                                    Subscription Plans
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Purchased Plans' %} class="active" {% endif %} href="{% url 'subscription:purchased_plans' %}">
                                    Purchased Plans
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu {% if head_title == 'Fashion Tip category Management' or head_title == 'Banners Management' or head_title == 'Discount Ads Management' or head_title == 'Fashion Tip Management' or head_title == 'Partner Store Management'%}active{% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-shopping-cart"></i><span> E-Commerce</span>
                        <span class="menu-arrow"></span></a>
                        <ul>
                            {% comment %} <li>
                                <a {% if head_title == 'Fashion Tip category Management' %} class="active" {% endif %} href="{% url 'ecommerce:fashion_category_list' %}">
                                    Fashion Tip category
                                </a>
                            </li> {% endcomment %}
                            <li>
                                <a {% if head_title == 'Fashion Tip Management' %} class="active" {% endif %} href="{% url 'ecommerce:fashion_tip_list' %}">
                                    Fashion Tip
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Partner Store Management' %} class="active" {% endif %} href="{% url 'ecommerce:partner_store' %}">
                                    Partner Store
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Discount Ads Management' %} class="active" {% endif %} href="{% url 'ecommerce:discount_list' %}">
                                    Discount Offers
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Banners Management' %} class="active" {% endif %} href="{% url 'accounts:banners_list' %}">
                                    Banners
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu {% if head_title == 'Cloth Category Management' or head_title == 'Body Type Management' or head_title == 'Skin Tone Management' or head_title == 'Hair Color Management' or head_title == 'Occasion Management' or head_title == 'Accessory Management' %}active{% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-tshirt"></i><span>Wardrobe Essentials</span>
                        <span class="menu-arrow"></span></a>
                        <ul>
                            <li>
                                <a {% if head_title == 'Cloth Category Management' %} class="active" {% endif %} href="{% url 'wardrobe:cloth_category' %}">
                                    Cloth category
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Occasion Management' %} class="active" {% endif %} href="{% url 'wardrobe:occasion' %}">
                                    Occasion
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Accessory Management' %} class="active" {% endif %} href="{% url 'wardrobe:accessory' %}">
                                    Accessory
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Hair Color Management' %} class="active" {% endif %} href="{% url 'wardrobe:hair_color_list' %}">
                                    Hair Colors
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Skin Tone Management' %} class="active" {% endif %} href="{% url 'wardrobe:skin_tone_list' %}">
                                    Skin Tone
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Body Type Management' %} class="active" {% endif %} href="{% url 'wardrobe:body_type_list' %}">
                                    Body Types
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li {% if head_title == "Contact Us Management" %} class="active" {% endif %}>
                        <a href="{% url 'contact_us:contactus_list' %}" onclick="Loader()"><i class="fad fa-address-book"></i><span>Contact Us</span></a>
                    </li>
                    
                    <li class="submenu {% if head_title == "Email Campaigns Management" or head_title == "SMS Campaigns Management"  %}active{% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-mail-bulk"></i><span> Campaigns</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a {% if head_title == 'Email Campaigns Management' %} class="active" {% endif %} href="{% url 'logger:campaign_templates' %}" onclick="Loader()">
                                    Email Campaigns
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'SMS Campaigns Management' %} class="active" {% endif %} href="{% url "logger:sms_campaign_templates" %}" onclick="Loader()">
                                    SMS Campaigns
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu {% if head_title == 'SMTP Management' or head_title == 'Stripe Management' or head_title == 'Firebase Management' or head_title == 'Paypal Management' or head_title == 'Adyen Keys Management' %}active {% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-key-skeleton"></i><span> Credentials</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li>
                                <a {% if head_title == 'SMTP Management' %} class="active" {% endif %} href="{% url 'credentials:smtp_list' %}" onclick="Loader()">
                                    Smtp Settings 
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Stripe Management' %} class="active" {% endif %} href="{% url 'credentials:stripe_keys' %}" onclick="Loader()">
                                    Stripe Settings 
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Firebase Management' %} class="active" {% endif %} href="{% url 'credentials:firebase_credentials_list' %}" onclick="Loader()">
                                    Firebase
                                </a>
                            </li>

                            <li>
                                <a {% if head_title == 'LightX Editor Credentials Management' %} class="active" {% endif %} href="{% url 'credentials:lightx_editor_key_list' %}" onclick="Loader()">
                                    LightX Editor
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu {% if   head_title == 'Help & Support Management' or head_title == 'Social Links Management' or head_title == 'Domain Management' %}active{% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-globe"></i><span> Website</span>
                        <span class="menu-arrow"></span></a>
                        <ul>
                            <li>
                                <a {% if head_title == 'Domain Management' %} class="active" {% endif %} href="{% url 'accounts:update_django_site' %}">
                                    Domain Setting
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu {% if head_title == 'Login History' or head_title == 'Notifications Management' or head_title == 'Pages Management' or head_title == 'Backup Management' %}active {% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-users-cog"></i><span> Settings</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li>
                                <a {% if head_title == 'Pages Management' %} class="active" {% endif %} href="{% url 'static_pages:pages_list' %}" onclick="Loader()">
                                    Pages
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'FAQs Management' %} class="active" {% endif %} href="{% url 'static_pages:faq_list' %}" onclick="Loader()">
                                    FAQs 
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Backup Management' %} class="active" {% endif %} href="{% url 'backup:backup' %}" onclick="Loader()">
                                    Backup
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Cronjob Management' %} class="active" {% endif %} href="{% url 'accounts:list_cronjob' %}" onclick="Loader()" >
                                    Cronjobs
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Login History Management' %} class="active" {% endif %} href="{% url 'accounts:login_history' %}" onclick="Loader()">
                                    Login History 
                                </a>
                            </li>
                            <li>
                                <a {% if head_title == 'Notifications Management' %} class="active" {% endif %} href="{% url 'accounts:notifications_list' request.user.id %}" onclick="Loader()">
                                    Notifications
                                </a>
                            </li>
                            <li>
                                <a onclick="Loader()" {% if head_title == 'Testimonials Management' %} class="active" {% endif %} href="{% url 'static_pages:testimonials' %}">
                                    Testimonial
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu {% if head_title == 'Website Error Logs Management' or head_title == 'Email Logs Management' or head_title == 'Application Error Logs Management' %}active{% endif %}">
                        <a href="javascript:void(0);"><i class="fad fa-exclamation-circle"></i><span> Logger</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li>
                                <a {% if head_title == 'Email Logs Management' %} class="active" {% endif %} href="{% url 'logger:email_logs_list' %}" onclick="Loader()">Email Logs</a>
                            </li>
                            <li>
                                <a {% if head_title == 'Website Error Logs Management' %} class="active" {% endif %} href="{% url 'logger:error_logs_list' %}" onclick="Loader()">Website Logs</a>
                            </li>
                            <li>
                                <a {% if head_title == 'Application Error Logs Management' %} class="active" {% endif %} href="{% url 'logger:crash_logs' %}" onclick="Loader()">Application Logs</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>