
/*****chat page start*****/

.message-area {
	overflow: hidden;
	padding: 30px 0;
}

.chat-area {
	position: relative;
	width: 100%;
	background-color: #fff;
	border-radius: 0.3rem;
	height: calc(100vh - 140px);
	overflow: hidden;
	min-height: calc(100% - 1rem);
}

.chat-list-item.active-chat {
    background: #e9ffc1 !important;
    border-radius: 4px !important;
  
}

.chatlist {
	outline: 0;
	height: 100%;
	overflow: hidden;
	width: 300px;
	float: left;
	padding: 0 15px;
}

.chat-area .modal-content {
	border: none;
	border-radius: 0;
	outline: 0;
	height: 100%;
}

.chat-area .modal-dialog-scrollable {
	height: 100% !important;
}

.chatbox {
	width: auto;
	overflow: hidden;
	height: 100%;
	border-left: 1px solid #ccc;
}

.chatbox .modal-dialog,
.chatlist .modal-dialog {
	max-width: 100%;
	margin: 0;
}

.msg-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-area .form-control {
	display: block;
	width: 90%;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	height: 40px;
	border-radius: 6px;
}

.chat-area .form-control:focus {
	outline: 0;
	box-shadow: inherit;
}

a.add img {
	height: 36px;
}

.chat-area .nav-tabs {
	border-bottom: 1px solid #dee2e6;
	align-items: center;
	justify-content: space-between;
	flex-wrap: inherit;
}

.chat-area .nav-tabs .nav-item {
	width: 100%;
}

.chat-area .nav-tabs .nav-link {
	width: 100%;
	color: #180660;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	text-transform: capitalize;
	margin-top: 5px;
	margin-bottom: -1px;
	background: 0 0;
	border: 1px solid transparent;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.chat-area .nav-tabs .nav-item.show .nav-link,
.chat-area .nav-tabs .nav-link.active {
	color: #222;
	background-color: #fff;
	border-color: transparent transparent #000;
}

.chat-area .nav-tabs .nav-link:focus,
.chat-area .nav-tabs .nav-link:hover {
	border-color: transparent transparent #000;
	isolation: isolate;
}

.chat-list h3 {
	color: #222;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	text-transform: capitalize;
	margin-bottom: 0;
}

.chat-list p {
	color: #343434;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: capitalize;
	margin-bottom: 0;
}

.chat-list a.d-flex {
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 10px;
}


.chat-list .status {
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 14px;
    left: 52px;
    height: 10px;
    width: 10px;
    background: #707070;
    border-radius: 50%;
    border: 2px solid #fff;
}
.chat-list .online {
    background: #00DB75 !important;
}

.msg-head .status {
	display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 14px;
    left: 52px;
    height: 10px;
    width: 10px;
    background: #707070;
    border-radius: 50%;
    border: 2px solid #fff;
}
.msg-head .online {
	background: #00DB75 !important;
}

.seen{
	color:#00BCD4 !important;
}

.chat-list-item img,
.chat-prfl-img {
	width: 50px;
	height: 50px;
	object-fit: cover;
    border-radius:4px;
}

.msg-head h3 {
	color: #222;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 0;
}

.msg-head p {
	color: #343434;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: capitalize;
	margin-bottom: 0;
}

.msg-head {
	padding: 12px;
	border-left: 0;
	box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.moreoption {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0;
	margin: 0;
}

.moreoption .navbar {
	padding: 0;
}

.moreoption li .nav-link {
	color: #222;
	font-size: 16px;
}

.moreoption .dropdown-toggle::after {
	display: none;
}

.moreoption .dropdown-menu[data-bs-popper] {
	top: 100%;
	left: auto;
	right: 0;
	margin-top: 0.125rem;
}

.msg-body ul {
	overflow: hidden;
	padding: 10px;
}

.msg-body ul li {
	list-style: none;
	margin: 15px 0;
}

.msg-body ul li.sender {
	display: block;
	width: 100%;
	position: relative;
}

.msg-body ul li.sender:before {
	display: block;
	clear: both;
	content: '';
	position: absolute;
	top: -6px;
	left: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 12px 15px 12px;
	border-color: transparent transparent #afafaf transparent;
	-webkit-transform: rotate(-37deg);
	-ms-transform: rotate(-37deg);
	transform: rotate(-37deg);
}

.msg-body ul li.sender p {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	background: #afafaf;
	display: inline-block;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.sender iframe {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	min-height: 100px !important;
	max-height: 300px !important;
	max-width: 60vw;
	background: #afafaf;
	display: inline-block;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.sender img {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	min-height: 100px !important;
	max-height: 300px !important;
	max-width: 17vw;
	background: #afafaf;
	display: inline-block;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.sender video {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	min-height: 100px !important;
	max-height: 300px !important;
	max-width: 17vw;
	background: #afafaf;
	display: inline-block;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.sender p b {
	display: block;
	color: #180660;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
}

.msg-body ul li.repaly {
	display: block;
	width: 100%;
	text-align: right;
	position: relative;
}

.msg-body ul li.repaly::before {
	display: block;
	clear: both;
	content: '';
	position: absolute;
	bottom: 15px;
	right: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 12px 15px 12px;
	border-color: transparent transparent #e9ffc1 transparent;
	-webkit-transform: rotate(37deg);
	-ms-transform: rotate(37deg);
	transform: rotate(37deg);
}

.msg-body ul li.repaly p {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	background: #e9ffc1;
	display: inline-block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.repaly iframe {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	min-height: 100px !important;
	max-height: 300px !important;
	max-width: 60vw;
	background: #e9ffc1;
	display: inline-block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.repaly img {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	min-height: 100px !important;
	max-height: 300px !important;
	max-width: 17vw;
	background: #e9ffc1;
	display: inline-block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.repaly video {
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px;
	min-height: 100px !important;
	max-height: 300px !important;
	max-width: 17vw;
	background: #e9ffc1;
	display: inline-block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 0;
}

.msg-body ul li.repaly p b {
	display: block;
	color: #061061;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
}

.msg-body ul li.repaly:after {
	display: block;
	content: '';
	clear: both;
}

.time {
	display: block;
	color: #757575;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
}

li.repaly .time {
	margin-right: 20px;
}

.divider {
	/* display: none; */
	position: relative;
	z-index: 1;
	text-align: center;
}

.msg-body h6 {
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
	color: #222;
	background: #fff;
	display: inline-block;
	padding: 0 5px;
	margin-bottom: 0;
}

.divider:after {
	display: block;
	content: '';
	clear: both;
	position: absolute;
	top: 12px;
	left: 0;
	border-top: 1px solid #EBEBEB;
	width: 100%;
	height: 100%;
	z-index: -1;
} 

.send-box {
	padding: 14px 0px 0 0;
	border-left: 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.send-box form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.send-box .form-control {
	display: flex;
	/* width: 83.5%; */
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.send-box button {
	width: 100px;
	background: linear-gradient(90deg, rgba(54, 209, 220, 1) 0%, rgba(54, 209, 220, 1) 30%, rgba(91, 134, 229, 1) 90%);
	color: #fff;
}

.send-box button:hover {
	width: 100px;
	background: linear-gradient(90deg, rgba(54, 209, 220, 1) 0%, rgba(54, 209, 220, 1) 30%, rgba(91, 134, 229, 1) 90%);
	color: #fff;
}

.chat-header {
	padding: 10px 0;
	box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.chat-lists {
	padding: 0 0 20px;
}

.send-box button i {
	margin-right: 5px;
}

.send-btns .button-wrapper {
	position: relative;
	width: 125px;
	height: auto;
	text-align: left;
	margin: 0 auto;
	display: block;
	background: #F6F7FA;
	border-radius: 3px;
	padding: 5px 15px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
}

.send-btns .button-wrapper span.label {
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
	color: #343945;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 13px;
}

#upload {
	display: inline-block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.send-btns .attach .form-control {
	display: inline-block;
	width: 120px;
	height: auto;
	padding: 5px 8px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
	color: #343945;
	background-color: #F6F7FA;
	background-clip: padding-box;
	border: 1px solid #F6F7FA;
	border-radius: 3px;
	margin-bottom: 5px;
}

.send-btns .button-wrapper span.label img {
	margin-right: 5px;
}

.button-wrapper {
	position: relative;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
}

button:focus {
	outline: 0;
}

.add-apoint {
	display: inline-block;
	margin-left: 5px;
}

.add-apoint a {
	text-decoration: none;
	background: #F6F7FA;
	border-radius: 8px;
	padding: 8px 8px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
	color: #343945;
}

.add-apoint a svg {
	margin-right: 5px;
}

.chat-icon {
	display: none;
}

.closess i {
	display: none;
}

.msg-search .media-icon {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 4px;
	background: #e9ffc1 !important;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	color: #fff;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #afafaf;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
	width: 4px;
	background-color: #afafaf;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
	background-color: #FA8C0B;
	border-radius: 4px;
}

@media (max-width: 767px) {

	.chat-icon {
		display: block;
		margin-right: 10px;
		cursor: pointer;
	}

	.chatlist {
		width: 100%;
		padding: 0 5px;
	}

	.chatbox {
		width: 100%;
		position: absolute;
		left: 1000px;
		right: 0;
		background: #fff;
		transition: all 0.5s ease;
		border-left: none;
	}

	.showbox {
		left: 0 !important;
		transition: all 0.5s ease;
	}

	.msg-head h3 {
		font-size: 14px;
	}

	.msg-head p {
		font-size: 12px;
	}

	.msg-head .flex-shrink-0 img {
		height: 40px;
		width: 40px;
	}

	.send-box .form-control {
		width: 75%;
	}

	.chat-list h3 {
		font-size: 14px;
	}

	.chat-list p {
		font-size: 12px;
	}

	.msg-body ul li.sender p {
		font-size: 13px;
		padding: 8px;
		border-bottom-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	.msg-body ul li.repaly p {
		font-size: 13px;
		padding: 8px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

}

/* pin messages customer */
.pin-msg {
	padding: 10px 12px;
	background: #f4f4f5;
	border-radius: 6px;
	position: relative;
}

.pin-message-icn {
	display: inline-block;
	margin-left: 8px;
	background: #ffff;
	border: none;
	padding: 0;
	color: #e9ffc1;
	font-size: 16px;
}

.repaly .pin-message-icn {
	margin-right: 8px;
	margin-left: 0px;
}


/* unpin message */
.close-btn {
	position: absolute;
	right: -5px;
	top: -10px;
	width: 20px;
	height: 20px;
	background: #d42b2b;
	border-radius: 50%;
	color: #fff;
	line-height: 20px;
	font-weight: 600;
}

.pin-msg .close-btn {
	padding-left: 3px;
	line-height: 22px !important;
}

.send_inr .form-control {
    /* width: 100%; */
    height: 50px;
}
.send-box input {
    border: 1px solid #CFCFCF;
    height: 50px;
    border-radius: 4px;
}
.send_inr {
    position: relative;
    margin-bottom: 10px;
}

.send_inr #chat-message{
    margin-left: 5px;
    margin-right: 5px;
}
.send_inr #send-button {
    margin-right: 5px;
    min-width: 50px;
    border-radius: 7px 7px 7px 7px;
    margin-left: 5px;
}


.message-count {
    min-width: 25px;
    min-height: 25px;
    background: #3571a3;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 0;
    border-radius: 50%;
    line-height: 25px;
    font-size: 14px;
    top: 10px;
}

.send-box input {
    border: 1px solid #CFCFCF;
    height: 50px;
    border-radius: 4px;
}
.send_inr {
    position: relative;
}
.send_inr a {
       /* position: absolute; */
       bottom: 1px;
       right: 0px;
       min-width: 60px;
       height: 50px;
       background: #9EC557;
       border-radius: 0 4px 4px 0;
       text-align: center;
       line-height: 46px;
}
.send_inr .emptyFilebutton {
	cursor: pointer;
}


.upload-area input[type="file"] {
    display: none;
}

.upload {
    background: #e6e6e6;
    border-radius: 7px 7px 7px 7px;
    min-width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}

.upload-area {
    cursor: pointer;
    margin-bottom: 0;
}


/*****chat page end*****/

/* typing indicator css */

.message-loader{
	align-items: center;
	border-radius: 15px;
	display: flex;
	height: 20px;
	justify-content: space-between;
	padding: 0 5px;
	position: relative;
	width: 45px;
	.loader-bar{
		background: #C9CBCB;
		border-radius: 5px;
		height: 8px;
		position: relative;
		width: 8px;
		&:first-of-type{ animation: chat-typing-indicator 1.5s infinite; }
		&:nth-of-type(2){ animation: chat-typing-indicator 1.5s infinite 0.2s; }
		&:nth-of-type(3){ animation: chat-typing-indicator 1.5s infinite 0.4s; }
	}
	
}

@keyframes chat-typing-bar {
	0% { width: 8px; }
	25% { width: calc(100% - 10px); }
	50% { width: 8px; }
	75% { width: calc(100% - 10px); }
	100% { width: 8px; }
	
	25% { left: 5px; }
	50% { left: calc(100% - 13px); }
	75% { left: 5px; }
	
	0% { background: #65B360; }
	50% { background: #52994D; }
	100% { background: #65B360; }
}

@keyframes chat-typing-indicator {
	0% { top: 0; }
	6.25% { top: -1px; }
	12.5% { top: 0; }
	18.75% { top: 1px; }
	25% { top: 0; }
	
	12.5% { background: #65B360; }
}
  /* typing indicator css end */